@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,p {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
}

body
{
	display: block;
}

#indext-vision
{
	
}


#header
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -999;
	background: url(images/back.png) no-repeat;
	background-size: cover;
}

#header h1
{
	color: #fff;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 400;
	margin-top: 300px;
	margin-left: 30%;
}

#header p
{
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
	margin-left: 30%;
	margin-top: 20px;
	line-height: 160%;
}

#nav
{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 998;	
}

.background
{
	background: url(images/back.png) no-repeat;
	background-size: cover;
}

.nav-title
{
	width: 200px;
	height: 80px;
	margin: auto;	
	opacity: 0;
	z-index: 999;
	
}

.nav-title h2
{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	z-index: 999;
	padding-top: 27px;
	text-align: center;
}


#content
{
	
	width: 100%;
	display: block;
	top: 820px;
	z-index: 30;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-animation: intro-content 2s forwards;
	-moz-animation: intro-content 2s forwards;
	-o-animation: intro-content 2s forwards;
	animation: intro-content 2s forwards;
}

#introduction
{
	width: 40%;
	display: block;
	margin: 0 auto;
	opacity: 0;
}

#introduction h3
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	margin-top: 100px;
}

#introduction p
{
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	color: #555555;
	margin-top: 40px;
	line-height: 170%;
	letter-spacing: 0.5px;
}

#concept
{
	width: 932px;
	display: block;
	margin: 50px auto;
	font-size: 0;
}

#concept-1
{
	width: 304px;
	height: 204px;
	display: inline-block;
	opacity: 0;
}

#concept-1-pic
{
	width: 304px;
	height: 204px;
	z-index: 31;
	position: absolute;
	background: url(images/concept1.png) no-repeat;
	background-size:cover;
}

.concept-1-mask
{
	width: 304px;
	height: 204px;
	background-color: rgba(0,172,193,0.8);
	z-index: 32;
	position: absolute;
	display: none;
}

.concept-1-mask h4
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 80px;
}

#concept-2
{
	width: 304px;
	height: 204px;
	margin-left: 10px;
	display: inline-block;
	opacity: 0;
}

#concept-2-pic
{
	width: 304px;
	height: 204px;
	z-index: 31;
	position: absolute;
	background: url(images/concept2.png) no-repeat;
	background-size:cover;
}

.concept-2-mask
{
	width: 304px;
	height: 204px;
	background-color: rgba(0,172,193,0.8);
	z-index: 32;
	position: absolute;
	display: none;
}

.concept-2-mask h4
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 80px;
}

#concept-3
{
	width: 304px;
	height: 204px;
	margin-left: 10px;
	display: inline-block;
	opacity: 0;
}

#concept-3-pic
{
	width: 304px;
	height: 204px;
	z-index: 31;
	position: absolute;
	background: url(images/concept3.png) no-repeat;
	background-size:cover;
}

.concept-3-mask
{
	width: 304px;
	height: 204px;
	background-color: rgba(0,172,193,0.8);
	z-index: 32;
	position: absolute;
	display: none;
}

.concept-3-mask h4
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 22px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 80px;
}


@media screen and (max-width: 931px) {
    #concept {
        width: 304px;
    }
	
	#concept-2 {
		margin-left: 0px;
		margin-top: 10px;
	}
	
	#concept-3 {
		margin-left: 0px;
		margin-top: 10px;
	}
}

#learned
{
	width: 60%;
	display: block;
	margin: 130px auto;
	opacity: 0;
	
}

#learned h3
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	margin-top: 100px;
}

#learned p
{
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	color: #555555;
	line-height: 170%;
	letter-spacing: 0.5px;
}

#part-1
{
	width: 45%;
	margin-top: 70px;
	display: inline-block;
	vertical-align: top;
}

#part-2
{
	width: 45%;
	display: inline-block;
	margin-left: 9%;
	margin-top: 70px;
	vertical-align: top;
}

#part-3
{
	width: 45%;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
}

#part-4
{
	width: 45%;
	display: inline-block;
	margin-left: 9%;
	margin-top: 50px;
	vertical-align: top;
}

@media screen and (max-width: 931px) {
    #learned {
        width: 50%;
    }
	#part-1 {
        display: inline;
    }
	
	#part-2 {
		display: inline;
		margin-left: 0;
	}
	
	#part-3 {
        display: inline;
    }
	
	#part-4 {
		display: inline;
		margin-left: 0;
	}
}

#development
{
	width: 40%;
	display: block;
	margin: 120px auto;
	opacity: 0;
	
}

#development h3
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	margin-top: 100px;
}

#development p
{
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	color: #555555;
	line-height: 170%;
	letter-spacing: 0.5px;
}

#deve
{
	width: 100%;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
}

#reference
{
	width: 475px;
	display: block;
	margin: 120px auto;
	opacity: 0;
	
}

#reference h3
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	margin-top: 100px;
}

#reference p
{
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	color: #555555;
	line-height: 170%;
	letter-spacing: 0.5px;
}

#video
{
	width: 110px;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
}

#report
{
	width: 50px;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}

#feedback
{
	width: 120px;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}

#posters
{
	width: 60px;
	margin-top: 50px;
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}

@media screen and (max-width: 475px) {
    #reference {
        width: 225px;
    }
	#feedback {
		margin-left: 0px;
}
}
