@charset "UTF-8";
/* CSS Document */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 
/* css common */
.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

body
{
	display: block;
}

#indext-vision
{
	
}


#header
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -999;
	background: url(images/back.png) no-repeat;
	background-size: cover;
}

#header h1
{
	color: #fff;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 400;
	margin-top: 300px;
	margin-left: 30%;
}

#header p
{
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 200;
	color: #515151;
	margin-left: 30%;
	margin-top: 20px;
	line-height: 160%;
}

#nav
{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 998;	
}

.background
{
	background: url(images/back.png) no-repeat;
	background-size:cover;
}

.nav-title
{
	width: 200px;
	height: 80px;
	margin: auto;	
	opacity: 0;
	z-index: 999;
	
}

.nav-title h2
{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	z-index: 999;
	padding-top: 30px;
	text-align: center;
}


#content
{
	
	width: 100%;
	display: block;
	top: 820px;
	z-index: 30;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-animation: intro-content 2s forwards;
	-moz-animation: intro-content 2s forwards;
	-o-animation: intro-content 2s forwards;
	animation: intro-content 2s forwards;
}

#introduction
{
	width: 40%;
	display: block;
	margin: 0 auto;
	opacity: 0;
}

#introduction h3
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	margin-top: 200px;
}

#introduction p
{
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 200;
	color: #393939;
	margin-top: 30px;
	line-height: 170%;
	letter-spacing: 0.7px;
}

#concept
{
	width: 932px;
	display: block;
	margin: 50px auto;
	
}

#concept-1
{
	width: 456px;
	height: 306px;
	background: url(images/concept1.png) no-repeat;
	background-size:cover;
	display: inline-block;
	opacity: 0;
}

#concept-2
{
	width: 456px;
	height: 306px;
	background: url(images/concept2.png) no-repeat;
	background-size:cover;
	margin-left: 20px;
	display: inline-block;
	opacity: 0;
}

#concept-3
{
	width: 456px;
	height: 306px;
	background: url(images/concept3.png) no-repeat;
	background-size: cover;
	margin-top: 20px;
	display: inline-block;
	opacity: 0;
}

#concept-4
{
	width: 456px;
	height: 306px;
	background: url(images/concept4.png) no-repeat;
	background-size:cover;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
	opacity: 0;
}