@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,p {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
}

body
{
	display: block;
}

#indext-vision
{
	
}


#header
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -999;
	background: url(images/back.png) no-repeat;
	background-size: cover;
}

#header h1
{
	color: #fff;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 400;
	margin-top: 300px;
	margin-left: 30%;
}

#header p
{
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 200;
	color: #515151;
	margin-left: 30%;
	margin-top: 20px;
	line-height: 160%;
}

#nav
{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 998;	
}

.background
{
	background-color: #F4F7F3;
}

.nav-title
{
	width: 200px;
	height: 80px;
	margin: auto;	
	opacity: 0;
	z-index: 999;
	
}

.nav-title h2
{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	z-index: 999;
	padding-top: 27px;
	text-align: center;
}


#content
{
	
	width: 100%;
	display: block;
	top: 820px;
	z-index: 30;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-animation: intro-content 2s forwards;
	-moz-animation: intro-content 2s forwards;
	-o-animation: intro-content 2s forwards;
	animation: intro-content 2s forwards;
}

#introduction
{
	width: 40%;
	display: block;
	margin: 0 auto;
	opacity: 0;
}

#introduction h3
{
	text-align: center;
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 300;
	color: #515151;
	margin-top: 100px;
}

#introduction p
{
	text-align: left;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 200;
	color: #393939;
	margin-top: 30px;
	line-height: 170%;
	letter-spacing: 0.7px;
}

#concept
{
	width: 932px;
	display: block;
	margin: 50px auto;
	font-size: 0;
}

#concept-1
{
	width: 456px;
	height: 306px;
	background: url(images/concept1.png) no-repeat;
	background-size:cover;
	display: inline-block;
	opacity: 0;
}

#concept-2
{
	width: 456px;
	height: 306px;
	background: url(images/concept2.png) no-repeat;
	background-size:cover;
	margin-left: 20px;
	display: inline-block;
	opacity: 0;
}

#concept-3
{
	width: 456px;
	height: 306px;
	background: url(images/concept3.png) no-repeat;
	background-size: cover;
	margin-top: 20px;
	display: inline-block;
	opacity: 0;
}

#concept-4
{
	width: 456px;
	height: 306px;
	background: url(images/concept4.png) no-repeat;
	background-size:cover;
	margin-left: 20px;
	margin-top: 20px;
	display: inline-block;
	opacity: 0;
}