@charset "utf-8";

/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color:#D7D7CE;
	color:#ffffff;
}

#border
{
	width: 100%;
	height:8px;
    style: solid;
    background-color: rgb(0, 0, 0);
	margin:auot;
	position: fixed;
}


#wrapper
{
	display:block;
	width: 100%;
    text-align: center;		
}

#guide{
	max-width: 980px;
	height: 108px;
	margin:0 auto;
}


@media  screen and (max-width: 979px){
#guide
{
	max-width: 735px;
}
}

@media  screen and (max-width: 734px){
#guide
{
	max-width: 490px;
}
}

@media  screen and (max-width: 505px){
#guide
{
	max-width: 245px;
}
}

#logo
{
	display:block;
	width: 90px;
	margin-top: -17px;
	margin-left: 10px;
	float: left;
	text-align: center;
}

#logopic
{
	background: url('images/logo.png') no-repeat 0 0;
	height: 50px;
	width: 88px;
	margin: 0px auto;
	float: left;
}

#name
{
	display:block;
	width: 88px;
	margin-top:20px;
	margin-left:0px;
	float: left;
	text-align:center;
}

#name h1
{
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
}	

#intromenu
{
	display: block;
	width: 210px;
	height: 24px;
	margin-top: 85px;
	margin-right: 11px;
	padding: 0;
	float: right;
	overflow: hidden;
	position: relative;
}

@media  screen and (max-width: 505px){
#intromenu
{
	float: left;
	margin-top: 15px;
	margin-left: 8px;
}
}

#intromenu a
{ 
	text-decoration:none
} 

#identity
{
	height:22px;
	width:140px;
	float:left;	
	border-bottom-style:1px solid #808080;
}

#identity h2
{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-align: right;
	font-weight:300;
	padding-top:3px;
}

#intromenu a#cv
{
	height:20px;
	width:37px;
	margin-left:25px;
	float:left;	
	border:2px solid #323232;
	border-radius:4px;
}

#cv h2
{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #323232;
	text-align: center;
	font-weight:300;
	padding-top:3px;
}

#cv h2:hover
{
	color: #FFFFFF;
}

#cv:hover
{
	background-color:#323232;
	border:0px;
}


#portfolio
{
	display:block;
	max-width: 980px;
    margin:140px auto 0px auto;
}


@media  screen and (max-width: 979px){
#portfolio
{
	max-width: 735px;
}
}

@media  screen and (max-width: 734px){
#portfolio
{
	max-width: 490px;
}
}

@media  screen and (max-width: 505px){
#portfolio
{
	max-width: 245px;
}
}

#works-title
{
    height: 20px;
	width: 120px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top:30px;
}

#works-title-pic
{
    height: 15px;
	width: 25px;
	margin-top:4px;
	margin-left:2px;
	float:left;
	background:url('images/smalleye.png') no-repeat 0 0;
}

#works-title-text
{
    height: 20px;
	width: 47px;
	margin-top:0px;
	margin-left:13px;
	float:left;
}

#works-title-text h3
{
    font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-align: left;
	font-weight:300;
}

#works
{
	display:block;
	width: 100%;
    margin-top:30px;
    position: relative; 
	float:left;
}

.item
{
	display: block;
    width: 223px;
    height: 176px;
    margin-top:0px;
	margin-right:11px;
	margin-left:11px;
    padding: 0;
    float: left;
    overflow: hidden;
    position: relative;
}


.item a
{
	width: 223px;
    height: 93px;
    background: #Ffe400;
    display: block;
}

.item a.cv-front 
{
	background: url('images/projects/cv/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.cv-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.cv-back 
{
	background-color:#d4eb50;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.cv-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.feedback-front 
{
	background: url('images/projects/feedback/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.feedback-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.feedback-back 
{
	background-color:#89C9C6;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.feedback-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:29px;
}

.item a.levo-front
{
	background: url('images/projects/levo/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.levo-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.levo-back 
{
	background-color:#A6CC4E;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.levo-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:29px;
}

.item a.ghost-front
{
	background: url('images/projects/ghost/3.jpg') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}


.item a.ghost-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.ghost-back 
{
	background-color:#DF8E33;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.ghost-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.iwall-front
{
	background: url('images/projects/iwall/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.iwall-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.iwall-back 
{
	background-color:#F0CB31;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.iwall-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.buer-front
{
	background: url('images/projects/buer/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.buer-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.buer-back 
{
	background-color:#82C7AE;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.buer-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.cloud-front
{
	background: url('images/projects/cloud/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.cloud-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.cloud-back 
{
	background-color:#4D3F33;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.cloud-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.mlamp-front
{
	background: url('images/projects/mlamp/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.mlamp-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.mlamp-back 
{
	background-color:#B19C0C;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.mlamp-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}


.item a.bee-front
{
	background: url('images/projects/bee/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.bee-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.bee-back 
{
	background-color:#E0D42A;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.bee-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.sbracelet-front
{
	background: url('images/projects/sbracelet/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.sbracelet-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.sbracelet-back 
{
	background-color:#626F97;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.sbracelet-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.pcard-front
{
	background: url('images/projects/pcard/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.pcard-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.pcard-back 
{
	background-color:#7BC05F;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.pcard-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.stool-front
{
	background: url('images/projects/stool/2.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.stool-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.stool-back 
{
	background-color:#ACA682;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.stool-back h3
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item #item-text
{
	width: 223px;
    height: 80px;
    padding: 0;
    margin-top: 96px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}


.item #item-text h6 
{
     width: intrinsic;
     color: 255;
     line-height: 100%;
     text-transform: uppercase;
     font-size: 12px;
     margin-top: 20px;
}

.item #item-text div
{
     width: intrinsic;
     color: 255;
     margin-top: 3px;
     font-size: 12px;
}

#contact
{
	display:block;
	max-width:180px;
    margin:0px auto;
    position: relative;
}

#contact-text
{
	width:100px;
	display:block;
	border-bottom:#636363 dashed 1px;
	float:left;
	margin:140px 40px auto;
}

#contack-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-align:center;
}

#contack-link
{
	width:180px;
	height:40px;
	float:left;
	margin-top:15px;
}

#email
{
	width:33px;
	height:33px;
	margin-left:0%;
	background:url('images/e.png') no-repeat 0 0;
	float:left;
}

#email:hover
{
	background:url('images/e2.png') no-repeat 0 0;
}

#facebook
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 15px;
	background:url('images/f.png') no-repeat 0 0;
	float:left;
}

#facebook:hover
{
	background:url('images/f2.png') no-repeat 0 0;
}

#linkedin
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 15px;
	background:url('images/l.png') no-repeat 0 0;
	float:left;
}

#linkedin:hover
{
	background:url('images/l2.png') no-repeat 0 0;
}

#vimeo
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 15px;
	background:url('images/v.png') no-repeat 0 0;
	float:left;
}

#vimeo:hover
{
	background:url('images/v2.png') no-repeat 0 0;
}

#contact-title-text h3
{
    font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	text-align: left;
}

.footer, .push {
    width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:30px;
	float:left;
}

#footertext
{
	max-width:150px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#575757;
	margin:0 auto;
	padding-top:35px;
}

#cv-page
{
	display:none;
	position:fixed;
	z-index: 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #C1C1C1;
	overflow: hidden;
	height:auto;
}
