@charset "utf-8";
@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('./font/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('./font/fontscorecomttwcenmt.woff') format('woff'), url('./font/fontscorecomttwcenmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */
.fontsforweb_fontid_13141 {
	font-family: 'fontscorecomttwcenmt' !important;
}
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
}

#header
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
	background: url(images/back.jpg) no-repeat;
	background-size: cover;
}

#header h1
{
	color: #fff;
	font-family: 'Roboto';
	font-size: 50px;
	font-weight: 400;
	margin-top: 300px;
	margin-left: 30%;
}

#header p
{
	font-family: 'Roboto';
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
	margin-left: 30%;
	margin-top: 15px;
	line-height: 160%;
}

#cv-1
{
	height: 25px;
	width: 60px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	margin-top: 40px;
	margin-left:30%;
	display: inline-block;
	text-decoration: none;
}


#cv-1 h2
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	text-align: center;
	font-weight: 300;
	padding-top: 4.5px;
	text-decoration: none;
}

#nav
{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 998;	
}

.background
{
	background: url(images/back.jpg) no-repeat;
	background-size: cover;
}

.nav-title
{
	width: 300px;
	height: 80px;
	margin: 0 auto;	
	opacity: 0;
	z-index: 999;
	
}

.nav-title h2
{
	font-family: 'Roboto';
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	z-index: 999;
	padding-top: 27px;
	text-align: center;
}

#cv
{
	height: 20px;
	width: 45px;
	border: 1px solid #ffffff;
	border-radius: 4px;
	top: 30px;
	right: 80px;
	position: absolute;
	display: inline-block;
	opacity: 0;
	text-decoration: none;
}


.cvcolor1 
{ 
	background-color:#ffffff;
	border:0px;
}

#cv h2
{
	font-size: 14px;
	font-family: 'Roboto';
	color: #ffffff;
	text-align: center;
	font-weight: 300;
	padding-top: 3px;
	text-decoration: none;
}


#wrapper
{
	width: 100%;
	display: block;
	top: 820px;
	z-index: 30;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-animation: intro-content 2s forwards;
	-moz-animation: intro-content 2s forwards;
	-o-animation: intro-content 2s forwards;
	animation: intro-content 2s forwards;	
}

/*#logo
{
	display:block;
	width: 90px;
	margin-top: -17px;
	margin-left: 10px;
	float: left;
	text-align: center;
}

#logopic
{
	background: url('images/logo.png') no-repeat 0 0;
	height: 50px;
	width: 88px;
	margin: 0px auto;
	float: left;
}

#works-title
{
    height: 20px;
	width: 120px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top:30px;
}

#works-title-pic
{
    height: 15px;
	width: 25px;
	margin-top:4px;
	margin-left:2px;
	float:left;
	background:url('images/smalleye.png') no-repeat 0 0;
}

#works-title-text
{
    height: 20px;
	width: 47px;
	margin-top:0px;
	margin-left:13px;
	float:left;
}

#works-title-text h3
{
    font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: #000;
	text-align: left;
	font-weight:300;
}
*/

#portfolio
{
	display:block;
	width: 966px;
    margin:140px auto 0px auto;
}

#works-1-title
{
	width:100%;
	display: block;
	margin-top: 150px;
	opacity: 0;
}

#works-1-title h3
{
	text-align: center;
	font-family: 'fontscorecomttwcenmt', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #515151;
}

#works-1
{
	display:block;
	width: 100%;
	height: 200px;
    margin-top:80px;
	opacity: 0;
	font-size: 0;
}

.item
{
	display: block;
    width: 300px;
    height: 200px;
    margin-top:0px;
	margin-right:11px;
	margin-left:11px;
    padding: 0;
    float: left;
    overflow: hidden;
    position: relative;
}


.item a
{
	width: 300px;
    height: 200px;
    background: #Ffe400;
    display: block;
}

a.sleep-front 
{
	background: url('images/projects/sleep/1.jpg') no-repeat 0 0;
	position:absolute;
	background-size:cover;
	z-index: 31;
}

/*.item a.cv-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}*/

a.sleep-back 
{
	background-color: rgba(0,172,193,0.8);
	position:absolute;
	text-decoration:none;
	display: none;
	z-index: 32;
	pointer-events: none;
}

a.sleep-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 65px;
	line-height: 150%;
}

a.cv-front 
{
	background: url('images/projects/cv/1.jpg') no-repeat 0 0;
	position:absolute;
	background-size:cover;
	z-index: 31;
}

a.cv-back 
{
	background-color: rgba(0,172,193,0.8);
	position:absolute;
	text-decoration:none;
	display: none;
	z-index: 32;
	pointer-events: none;
}

a.cv-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

.item a.feedback-front 
{
	background: url('images/projects/feedback/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index: 31;
}

.item a.feedback-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.feedback-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 65px;
	line-height: 150%;
}

#works-1-line
{
	display:block;
	width: 1.5px;
	height: 150px;
    margin:0px auto 0 auto;
	background-color: #4DD0E1;
	opacity: 0;
	font-size: 0;
}

#works-1-circle
{
	display:block;
	width: 10px;
	height: 10px;
    margin:0 auto;
	background-color: #4DD0E1;
	border-radius: 5px;
	opacity: 0;
	font-size: 0;
}

#works-2-title
{
	width:100%;
	display: block;
	margin-top: 30px;
	opacity: 0;
}

#works-2-title h3
{
	text-align: center;
	font-family:'fontscorecomttwcenmt', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #515151;
}

#works-2
{
	display:block;
	width: 100%;
	height: 200px;
    margin-top:80px;
	opacity: 0;
	font-size: 0;
}


.item a.levo-front
{
	background: url('images/projects/levo/1.png') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index: 31;
}

.item a.levo-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.levo-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

.item a.buer-front
{
	background: url('images/projects/buer/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index: 31;
}

.item a.buer-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.buer-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

.item a.cloud-front
{
	background: url('images/projects/cloud/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index:31;
}

.item a.cloud-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.cloud-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

#works-2-line
{
	display:block;
	width: 1.5px;
	height: 150px;
    margin:0px auto 0 auto;
	background-color: #4DD0E1;
	opacity: 0;
	font-size: 0;
}

#works-2-circle
{
	display:block;
	width: 10px;
	height: 10px;
    margin:0 auto;
	background-color: #4DD0E1;
	border-radius: 5px;
	opacity: 0;
	font-size: 0;
}

#works-3-title
{
	width:100%;
	display: block;
	margin-top: 30px;
	opacity: 0;
}


#works-3-title h3
{
	text-align: center;
	font-family: 'fontscorecomttwcenmt', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #515151;
}

#works-3
{
	display:block;
	width: 100%;
	height: 200px;
    margin-top:80px;
	opacity: 0;
	font-size: 0;
}

.item a.ghost-front
{
	background: url('images/projects/ghost/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index: 31;
}

.item a.ghost-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.ghost-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

.item a.iwall-front
{
	background: url('images/projects/iwall/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index:31;
}

.item a.iwall-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.iwall-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

.item a.bee-front
{
	background: url('images/projects/bee/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index:31;
}

.item a.bee-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.bee-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

#works-3-line
{
	display:block;
	width: 1.5px;
	height: 150px;
    margin:0px auto 0 auto;
	background-color: #4DD0E1;
	opacity: 0;
	font-size: 0;
}

#works-3-circle
{
	display:block;
	width: 10px;
	height: 10px;
    margin:0 auto;
	background-color: #4DD0E1;
	border-radius: 5px;
	opacity: 0;
	font-size: 0;
}

#works-4-title
{
	width:100%;
	display: block;
	margin-top: 30px;
	opacity: 0;
}

#works-4-title h3
{
	text-align: center;
	font-family: 'fontscorecomttwcenmt', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #515151;
}

#works-4
{
	display:block;
	width: 100%;
	height: 200px;
    margin-top:80px;
	opacity: 0;
	font-size: 0;
}

.item a.sbracelet-front
{
	background: url('images/projects/sbracelet/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index: 31;
}

.item a.sbracelet-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.sbracelet-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px;
}

.item a.pcard-front
{
	background: url('images/projects/pcard/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index:31;
}

.item a.pcard-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.pcard-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px
}

.item a.stool-front
{
	background: url('images/projects/stool/1.jpg') no-repeat 0 0;
	background-size:cover;
	position:absolute;
	z-index:31;
}

.item a.stool-back 
{
	background-color:rgba(0,172,193,0.8);
	position:absolute;
	display: none;
	text-decoration:none;
	pointer-events: none;
	z-index: 32;
}

.item a.stool-back h3
{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 22px;
	color:#FFFFFF;
	text-align:center;
	margin-top: 85px
}

#contact
{
	display:block;
	width:185px;
	height:70px;
    margin:140px auto 0 auto;
	opacity: 0;
}

#contact-text
{
	width:100px;
	display:block;
	float:left;
	margin:0px 40px auto;
}

#contact-text p
{
	font-family: 'Roboto';
	font-weight: 300px;
	font-size:16px;
	text-align:center;
}

#contack-link
{
	width:185px;
	height:40px;
	float:left;
	margin-top:15px;
}

#email
{
	width:34px;
	height:34px;
	border-radius: 17px;
	margin-left:0%;
	background:url('images/email.png') no-repeat 0 0;
	background-size: cover;
	background-color: #3E3E3E;
	float:left;
}

#email:hover
{
	background-color:#4DD0E1;
}

#linkedin
{
	width:34px;
	height:34px;
	border-radius: 17px;
	margin:0px 0px 0px 15px;
	background:url('images/linkedin.png') no-repeat 0 0;
	background-size: cover;
	background-color: #3E3E3E;
	float:left;
}

#linkedin:hover
{
	background-color:#4DD0E1;
}


#facebook
{
	width:34px;
	height:34px;
	border-radius: 17px;
	margin:0px 0px 0px 15px;
	background:url('images/facebook.png') no-repeat 0 0;
	background-size: cover;
	background-color: #3E3E3E;
	float:left;
}

#facebook:hover
{
	background-color:#4DD0E1;
}

#vimeo
{
	width:34px;
	height:34px;
	border-radius: 17px;
	margin:0px 0px 0px 15px;
	background:url('images/vimeo.png') no-repeat 0 0;
	background-size: cover;
	background-color: #3E3E3E;
	float:left;
}

#vimeo:hover
{
	background-color:#4DD0E1;
}

.footer, .push {
    width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:100px;
	float:left;
}

#footertext
{
	max-width:150px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#575757;
	margin:0 auto;
	padding-top:35px;
}


@media  screen and (max-width: 965px){
#portfolio
{
	width: 322px;
}

#works-1
{
	height: 645px;
}

#works-2
{
	height: 645px;
}

#works-3
{
	height: 645px;
}

#works-4
{
	height: 645px;
}
.item
{
	margin-top: 15px;
}


}

#cv-page
{
	display:none;
	height:auto;
	left:0;
	bottom:0;
	right:0;
	top:0;
	z-index: 999;	
}

#cv-wrapper
{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	max-width: 980px;
	position: relative;
	display: block;
}

#nameinfo
{
	width: 28%;
	margin-left: 0px;
	float: left;
	height: 100%;
	min-height: 500px;
	margin-top:10%;

}

#nameinfo-content
{
	width: 100%;
	margin-left: 0px;
	text-align: center;
	float: left;
}

#nameinfo h1
{
	font-size:28px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	padding-bottom: 10px;
	line-height: 150%;
}


#nameinfo p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
}


#content
{
	width:59%;
	float: left;
	margin-left: 8%;
	margin-top: 10%;
	border-left: 1px solid #E7E7E7;
}

#education
{
	width:90%;
	margin-left: 12%;
}

#education-title
{
	width:130px;
	border-bottom: 1px solid #090909;
}

h2
{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
} 

#education-content-left
{
	width:100%;
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	vertical-align: top;
}

#education p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
}

#work
{
	width:90%;
	margin-left: 12%;
	margin-top: 10%
}

#work-title
{
	width:190px;
	border-bottom: 1px solid #090909;
	margin-bottom: 2%;
}

h2
{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
} 

#work-content
{
	width:100%;
	text-align: left;
	display: inline-block;
}

.work-content-title
{
	width:100%;
	text-align: left;
}

.work-content-title p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	line-height: 150%;
}

.work-content-descrip
{
	width:100%;
	text-align: left;
	margin-bottom:5%;
}

.work-content-descrip p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
}

#experience
{
	width:90%;
	margin-left: 12%;
	margin-top: 10%
}

#experience-title
{
	width:110px;
	border-bottom: 1px solid #090909;
	margin-bottom: 2%;
}

h2
{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
} 

#experience-content
{
	width:100%;
	text-align: left;
	display: inline-block;
}

.experience-content-title
{
	width:100%;
	text-align: left;
}

.experience-content-title p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	line-height: 150%;
}

.experience-content-descrip
{
	width:100%;
	text-align: left;
	margin-bottom:5%;
}

.experience-content-descrip p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
}

#skill
{
	width:90%;
	margin-left: 12%;
	margin-top: 5%
}

#skill-title
{
	width: 80px;
	border-bottom: 1px solid #090909;
	margin-bottom: 2%;
}

h2
{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
} 

#skill-content
{
	width:100%;
	text-align: left;
	display: inline-block;
}

#skill p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
}

#patent
{
	width:90%;
	margin-left: 12%;
	margin-top: 10%
}

#patent-title
{
	width: 100px;
	border-bottom: 1px solid #090909;
	margin-bottom: 2%;
}

h2
{
	font-size:20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
} 

#skill-content
{
	width:100%;
	text-align: left;
	display: inline-block;
}

#patent p
{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 150%;
}

.cv-footer, .push {
    width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:10%;
	float:left;
}

#cv-footertext
{
	max-width:150px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#575757;
	margin:0 auto;
	padding-top:35px;
}

a#cv-close
{
	position: fixed;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	margin-left: 5%;
	margin-top: 0.5%;
	text-align: center;
	background: url(images/resume/close1.png);
	background-size: cover;
}

a#cv-close:hover
{
	background: url(images/resume/close2.png);
	background-size: cover;
	
}

/* intro animation */
.animated {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	}

.animated.hinge {
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(30px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(30px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
