@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color:#D7D7CE;
	color:#ffffff;
}

#border
{
	width: 100%;
	height:8px;
    style: solid;
    background-color: rgb(0, 0, 0);
	margin:0px 0px auot 0px;
	position: fixed;
}

#all
{
	display:block;
}

#wrapper
{
	display:block;
	width: 980px;
	margin: auto;
    text-align: center;		
}

#guide{
	width: 958px;
	height: 230px;
	margin-left: 11px;
	margin-right: 11px;
	position: relative;
}

#logo
{
	display:block;
	width: 120px;
	margin-top: 102px;
	float: left;
	text-align: center;
}

#logopic
{
	background: url('images/logo.png') no-repeat 0 0;
	height: 50px;
	width: 88px;
	margin: 0px 16px auto;
	float: left;
}

#name
{
	display:block;
	width: 80px;
	margin-top:10px;
	margin-left:20px;
	float: left;
	text-align:center;
}

#name h1
{
	font-size: 26px;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:lighter;
}
	

#intromenu
{
	display: block;
	width: 400px;
	height: 30px;
	margin-top: 165px;
	margin-right: 0px;
	padding: 0;
	float: right;
	overflow: hidden;
	position: relative;
	
}

#intromenu a
{ 
	text-decoration:none
} 

#worksmenu
{
	height:30px;
	width:115px;
	float:left;	
}

#line1
{
	width:115px;
	height:2px;
	background-color:#808080;
	float:left;
}

#worksmenu-text 
{
	height:20px;
	width:115px;
	float:left;
	margin-top:8px;
}

#worksmenu-text h2
{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: right;
}

#worksmenu-text h2 a
{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: right;
}

#worksmenu-text h2 a:hover
{ 
	color:#929292;
}

#aboutmenu
{
	height:30px;
	width:115px;
	margin-left:25px;
	float:left;	
}

#line2
{
	width:115px;
	height:2px;
	background-color:#808080;
	float:left;
}

#aboutmenu-text 
{
	height:20px;
	width:115px;
	float:left;
	margin-top:8px;
}

#aboutmenu-text h2
{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: right;
}

#aboutmenu-text h2 a
{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: right;
}

#aboutmenu-text h2 a:hover
{ 
	color:#929292;
}

#contactmenu
{
	height:30px;
	width:115px;
	margin-left:25px;
	float:left;	
}

#line3
{
	width:115px;
	height:2px;
	background-color:#808080;
	float:left;
}

#contactmenu-text 
{
	height:20px;
	width:115px;
	float:left;
	margin-top:8px;
}

#contactmenu-text h2
{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: right;
}

#contactmenu-text h2 a
{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: right;
}

#contactmenu-text h2 a:hover
{ 
	color:#929292;
}

#sperateline
{
	height:4px;
	width: 958px;
    margin-top:10px;
	margin-left: 11px;
	margin-right: 11px;
    position: relative;  
}

#sperateline1
{
	height:2px;
	width: 958px;
	background-color:#707070;
	
    margin-top:0px;
    position: relative;
    float:left;   
}

#sperateline2
{
	height:2px;
	width: 958px;
	background-color:#8B8B8B;
    margin-top:0px;
    position: relative;
    float:left;   
}

#portfolio
{
	display:block;
	width: 980px;
    margin-top:110px;
    position: relative;
    float:left;   
}

#works-title
{
    height: 20px;
	width: 120px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top:30px;
}

#works-title-pic
{
    height: 15px;
	width: 25px;
	margin-top:6px;
	margin-left:2px;
	float:left;
	background:url('images/smalleye.png') no-repeat 0 0;
}

#works-title-text
{
    height: 20px;
	width: 47px;
	margin-top:0px;
	margin-left:13px;
	float:left;
}

#works-title-text h3
{
    font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: left;
}

#works
{
	display:block;
	width: 980px;
    margin-top:30px;
    position: relative;
    float:left;   
}

.item
{
	display: block;
    width: 223px;
    height: 176px;
    margin-top:0px;
	margin-right:11px;
	margin-left:11px;
    padding: 0;
    float: left;
    overflow: hidden;
    position: relative;
}

.item a
{
	width: 223px;
    height: 93px;
    background: #Ffe400;
    display: block;
}


.item a.feedback-front 
{
	background: url('images/projects/feedback/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.feedback-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.feedback-back 
{
	background-color:#89C9C6;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.feedback-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:29px;
}

.item a.levo-front
{
	background: url('images/projects/levo/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.levo-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.levo-back 
{
	background-color:#A6CC4E;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.levo-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:29px;
}

.item a.ghost-front
{
	background: url('images/projects/ghost/3.jpg') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}


.item a.ghost-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.ghost-back 
{
	background-color:#DF8E33;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.ghost-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.iwall-front
{
	background: url('images/projects/iwall/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.iwall-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.iwall-back 
{
	background-color:#F0CB31;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.iwall-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.buer-front
{
	background: url('images/projects/buer/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.buer-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.buer-back 
{
	background-color:#82C7AE;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.buer-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.cloud-front
{
	background: url('images/projects/cloud/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.cloud-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.cloud-back 
{
	background-color:#4D3F33;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.cloud-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.mlamp-front
{
	background: url('images/projects/mlamp/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.mlamp-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.mlamp-back 
{
	background-color:#B19C0C;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.mlamp-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.material-front
{
	background: url('images/projects/material/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.material-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.material-back 
{
	background-color:#B79133;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.material-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.bee-front
{
	background: url('images/projects/bee/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.bee-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.bee-back 
{
	background-color:#E0D42A;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.bee-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.sbracelet-front
{
	background: url('images/projects/sbracelet/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.sbracelet-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.sbracelet-back 
{
	background-color:#626F97;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.sbracelet-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.pcard-front
{
	background: url('images/projects/pcard/1.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.pcard-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.pcard-back 
{
	background-color:#7BC05F;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.pcard-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

.item a.stool-front
{
	background: url('images/projects/stool/2.png') no-repeat 0 0;
	margin-top:10px;
	position:absolute;
}

.item a.stool-front:hover
{
	opacity:0;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

.item a.stool-back 
{
	background-color:#ACA682;
	margin-top:10px;
	position:absolute;
	text-decoration:none;
}

.item a.stool-back h3
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	color:#FFFFFF;
	text-align:center;
	margin-top:35px;
}

/*.item a#iders
{
	background: url('images/projects/iders/1.png') no-repeat 0 0;
	margin-top:10px;
}

.item a#light
{
	background: url('images/projects/light/1.png') no-repeat 0 0;
	margin-top:10px;
}
*/

.item #item-text
{
	width: 223px;
    height: 80px;
    padding: 0;
    margin-top: 96px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
}


.item #item-text h6 
{
     width: intrinsic;
     color: 255;
     line-height: 100%;
     text-transform: uppercase;
     font-size: 12px;
     margin-top: 20px;
}

.item #item-text div
{
     width: intrinsic;
     color: 255;
     margin-top: 3px;
     font-size: 12px;
}

/*#about
{
	display:block;
	width: 980px;
    margin-top:0px;
    position: relative;
    float:left;
}

#about-title
{
    height: 20px;
	width: 120px;
	margin-top:0px;
}

#about-title-pic
{
    height: 15px;
	width: 25px;
	margin-top:6px;
	margin-left:2px;
	float:left;
	background:url('images/smalleye.png') no-repeat 0 0;
}

#about-title-text
{
    height: 20px;
	width: 47px;
	margin-top:0px;
	margin-left:13px;
	float:left;
}

#about-title-text h3
{
    font-size: 20px;
	font-family: Calibri;
	color: #000;
	text-align: left;
}*/

#contact
{
	display:block;
	width: 980px;
    margin-top:140px;
    position: relative;
    float:left;
	text-align:center;
}

/*#contact-title
{
    height: 20px;
	width: 120px;
	margin-top:30px;
	float:left;
}

#contact-title-pic
{
    height: 15px;
	width: 25px;
	margin-top:6px;
	margin-left:2px;
	float:left;
	background:url('images/smalleye.png') no-repeat 0 0;
}

#contact-title-text
{
    height: 20px;
	width: 47px;
	margin-top:0px;
	margin-left:13px;
	float:left;
}*/

#contact-text
{
	width:95px;
	display:block;
	border-bottom:#636363 dashed 1px;
	float:left;
	margin-left:435px;
}

#contack-text p
{
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	padding: 27px 0px 0px 43px;
	float:left;
	text-align:center;
}

#contack-link
{
	width:980px;
	height:100px;
	float:left;
	margin-top:15px;
}

#email
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 401.5px;
	background:url('images/e.png') no-repeat 0 0;
	float:left;
}

#email:hover
{
	background:url('images/e2.png') no-repeat 0 0;
}

#facebook
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 15px;
	background:url('images/f.png') no-repeat 0 0;
	float:left;
}

#facebook:hover
{
	background:url('images/f2.png') no-repeat 0 0;
}

#linkedin
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 15px;
	background:url('images/l.png') no-repeat 0 0;
	float:left;
}

#linkedin:hover
{
	background:url('images/l2.png') no-repeat 0 0;
}

#vimeo
{
	width:33px;
	height:33px;
	margin:0px 0px 0px 15px;
	background:url('images/v.png') no-repeat 0 0;
	float:left;
}

#vimeo:hover
{
	background:url('images/v2.png') no-repeat 0 0;
}

#contact-title-text h3
{
    font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #000;
	text-align: left;
}

.footer, .push {
    width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:30px;
	float:left;
}

#footertext
{
	width:720px;
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:12px;
	color:#575757;
	margin:auto;
	padding-top:30px;
}
