@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Raleway';
	src: url('../../font/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('../../font/fontscorecomttwcenmt.woff') format('woff'), url('../../font/fontscorecomttwcenmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */
.fontsforweb_fontid_13141 {
	font-family: 'fontscorecomttwcenmt' !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
}


#all
{
	display:block;
}

#header
{
	width: 100%;
	position: fixed;
	z-index: -999;
}
#header img
{
	width: 100%;
	position: relative;
}

#header-text
{
	width: 100%;
	display: block;
	top: 35%;
	left: 30%;
	position: absolute;
}

#header-text h1
{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 300;
	margin-top:0;
	margin-left: 0;
	position: relative;
}

#header-text p
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #ffffff;
	margin-left: 0;
	margin-top: 20px;
	line-height: 160%;
	position: relative;
}

#nav
{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 998;	
}

#home
{
	width: 30px;
	height: 30px;
	background: url(images/homelogo.png) no-repeat;
	background-size: cover;
	margin: 27px 0 0 50px;
	position: absolute;
	display: block;
	opacity: 0;
}

a#home:hover
{
	background: url(images/homelogo2.png) no-repeat;
	background-size: cover;
	
}

.background
{
	background: url(images/back.png) no-repeat;
	background-size: cover;
}

.nav-title
{
	width: 280px;
	height: 80px;
	margin: 0 auto;	
	opacity: 0;
	z-index: 999;
	
}

.nav-title h3
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	z-index: 999;
	padding-top: 27px;
	text-align: center;
}

#wrappera
{
	width: 100%;
	display: block;
	top: 820px;
	z-index: 30;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-animation: intro-content 2s forwards;
	-moz-animation: intro-content 2s forwards;
	-o-animation: intro-content 2s forwards;
	animation: intro-content 2s forwards;
}

#content
{
	display:block;
	width: 100%;
	margin:0 auto;
}

#content h2
{
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	font-weight:200;
	text-align: center
}

#content p
{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:300;	
	line-height: 170%;
	letter-spacing: 0.3px;
}

#introduction
{
	display:block;
	width: 40%;
	margin:150px auto 0 auto;
}


#introductiontext
{
	display: block;
	width:100%;
	margin-top:30px;
}

#concept
{
	display:block;
	width: 100%;
	margin-top: 150px;
}

#concept-text-1
{
	display: block;
	width:40%;
	margin: 100px auto 0 auto;	
}

#concept-text-2
{
	display: block;
	width:40%;
	margin: 100px auto 0 auto;	
}

#concept-text-3
{
	display: block;
	width:40%;
	margin: 50px auto 0 auto;	
}

.concept-1-pic
{
	display:block;
	width: 720px;
	height: 540px;
	margin:0 auto;
	font-size:0;
}

#concept-1
{
	margin-top:60px;
	background:url('../sleep/images/concept1-1.jpg') no-repeat 0 0;
	background-size:cover;
}

#concept-1-2
{
	margin-top: 20px;
	background:url('../sleep/images/concept1-2.jpg') no-repeat 0 0;
	background-size:cover;
}

.concept-2-pic, .concept-3-pic
{
	display:block;
	width: 720px;
	height: 408px;
	margin:0 auto;
	font-size:0;
}

#concept-2
{
	margin-top:60px;
	background:url('../sleep/images/concept2-1.jpg') no-repeat 0 0;
	background-size:cover;
}

#concept-2-2
{
	margin-top: 20px;
	background:url('../sleep/images/concept2-2.jpg') no-repeat 0 0;
	background-size:cover;
}

#concept-3
{
	margin-top:60px;
	background:url('../sleep/images/concept3-1.jpg') no-repeat 0 0;
	background-size:cover;
}

#concept-3-2
{
	margin-top: 20px;
	background:url('../sleep/images/concept3-2.jpg') no-repeat 0 0;
	background-size:cover;
}

#video-text-1, #video-text-2, #video-text-3
{
	display:block;
	width:40%;
	margin:50px auto 0 auto;	
	text-align:center;
}

#video-text-1 a, #video-text-2 a, #video-text-3 a
{
	text-decoration: none;
	font-style: italic;
	color: #A6A6A6;
}

#video-text-1 a:hover, #video-text-2 a:hover, #video-text-3 a:hover
{
	color: #00BCD4;
}

#approach
{
	display:block;
	width: 100%;
	margin:150px auto 0 auto;
}

#approach-text
{
	display: block;
	width:40%;
	margin: 50px auto 0 auto;	
}


#approachpic
{
	display:block;
	width: 720px;
	height: 416px;
	margin: 60px auto 0 auto;
	font-size:0;
	background:url('../sleep/images/approach.jpg') no-repeat 0 0;
	background-size:cover;
}

#interface
{
	display:block;
	width: 100%;
	margin:150px auto 0 auto;
}

#interface-pic
{
	display:block;
	width: 1080px;
	height: 222.5px;
	margin: 50px auto 0 auto;
	font-size:0;
}

#interface-pic-1
{
	width:33.33333%;
	height:100%;
	display:inline-block;
	background:url('../sleep/images/process1.jpg') no-repeat 0 0;
	background-size: cover;
}


#interface-pic-2
{
	width:33.33333%;
	height:100%;
	display:inline-block;
	background:url('../sleep/images/process2.jpg') no-repeat 0 0;
	background-size: cover;
}

#interface-pic-3
{
	width:33.33333%;
	height:100%;
	display:inline-block;
	background:url('../sleep/images/process3.jpg') no-repeat 0 0;
	background-size: cover;
}

#interface-text
{
	display:block;
	width:40%;
	margin:30px auto 0 auto;	
}


#context
{
	display:block;
	width: 100%;
	margin:150px auto 0 auto;
}

#context-text
{
	display:block;
	width:40%;
	margin:30px auto 0 auto;	
}

#other
{
	width: 100px;
	display: block;
	margin:120px auto 0 auto;
}

.other-wrap
{
	width: 100px;
	height: 55px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	border: #80DEEA solid 1px;
	color: #555555;
	z-index: 35;
	position: relative;
	opacity: 1;
}

.other-wrap:hover
{
	color: #ffffff;
	background-color: #80DEEA;
}

.other-wrap h5
{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;
	letter-spacing: 0.5px;	
	line-height: 150%;
	
}

.footer, .push
{
    display: block;
	width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:120px;
}

#footertext
{
	width:100%;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#575757;
	margin:0 auto;
	padding-top:30px;
}

@media screen and (max-width: 1180px) {
	#interface-pic {
        width: 900px;
		height: 186px;
    }
}

@media screen and (max-width: 1080px) {
	#header-text {
		left:25%;
	}
	#header h1 {
		font-size: 44px;
	}
	#header p {
		font-size: 18px;
		margin-top: 15px;
	}	
}

@media screen and (max-width: 900px) {
	#interface-pic {
        width: 720px;
		height: 149px;
    }
	
}

@media screen and (max-width: 860px) {
	#header h1 {
		font-size: 40px;
	}
	#header p {
		font-size: 16px;
		margin-top: 10px;
	}
	.concept-3-pic {
        width: 600px;
		height: 340px;
    }
	.concept-2-pic {
        width: 600px;
		height: 340px;
    }
	.concept-1-pic {
        width: 600px;
		height: 450px;
    }
	#approachpic {
        width: 600px;
		height: 347px;
    }
	#interface-pic {
        width: 600px;
		height: 124px;
    }
}

@media screen and (max-width: 680px) {
	#header-text {
		left:20%;
	}
	#header h1 {
		font-size: 30px;
	}
	#header p {
		font-size: 15px;
	}
	.concept-3-pic {
        width: 400px;
		height: 226.67px;
    }
	.concept-2-pic {
        width: 400px;
		height: 226.67px;
    }
	.concept-1-pic {
        width: 400px;
		height: 300px;
    }
	#approachpic {
        width: 400px;
		height: 231px;
    }
	#interface-pic {
        width: 400px;
		height: 83px;
    }
}

@media screen and (max-width: 480px) {
	#header-text {
		top:30%;
		left: 18%;
	}
	#header h1 {
		font-size: 22px;
	}
	#header p {
		font-size: 12px;
		margin-top: 10px;
	}
	.concept-3-pic {
        width: 360px;
		height: 204px;
    }
	.concept-2-pic {
        width: 360px;
		height: 204px;
    }
	.concept-1-pic {
        width: 360px;
		height: 270px;
    }
	#approachpic {
        width: 360px;
		height: 208px;
    }
	#interface-pic {
        width: 360px;
		height: 74.5px;
    }
}