@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

@font-face {
    font-family: 'Ebrima';
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot');
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot?#iefix') format('embedded-opentype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.woff') format('woff'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.ttf') format('truetype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.svg#Ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color: #bbdfd4;
    color:#ffffff;
}

body
{
	border-top: 20px solid rgb(77,197,173);
	background: url('../images/back.png') left top;
}



#all
{
	display:block;
}
.wrapper
{
	width: 720px;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:170px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#name
{
	height: 60px;
	width: 300px;
	margin:12px auto;
}

#name h1
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#000000;
	text-align:center;
}

#name h2
{
	font-family:'Ebrima', serif;
	font-size:16px;
	font-weight:  lighter ;
	color:#7e7e7e;
	margin-top:2px;
	text-align:center;
}

.menu
{
	display: block;
	height: 30px;
	width:431px;
	margin:110px auto 0px auto;
}

.menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
}

a:hover
{
	color: #725225;
}

.menu h1
{	
	float:left;
	margin-right:40px;
}

.menu h2
{
	margin-right: 40px;
	float:left;
}

.menu h3
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#725225;
	margin-right: 40px;
	float:left;
}

.menu h4
{
	float:left;
}

#worksmenu
{
	display: block;
	height: 170px;
	width:549px;
	margin:50px auto 0px auto;
	text-align:left;
}

#project
{
	width:85px;
	height:133px;
	background:url('../works/images/project1.png') no-repeat 0 0;
	float:left;
	margin-top:30px;

}

#project:hover
{
	background:url('../works/images/project.png') no-repeat 0 0;
}

#modules
{
	width:103px;
	height:128px;
	background:url('../works/images/modules1.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
	margin-top:30px;

}

#modules:hover
{
	background:url('../works/images/modules.png') no-repeat 0 0;
}

#other
{
	width:80px;
	height:128px;
	background:url('../works/images/other.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
	margin-top:30px;

}

#process
{
	height:1230px;
	background: url('../other/images/back1.png') no-repeat 0 0;
	background-size:cover;
	margin:40px auto 0px auto;
	text-align:center;
}

#wrapper1
{
	width:720px;
	margin:auto;
    text-align: left;		
}

#activities
{
	width:720px;
	height:80px;
	margin:0px auto;
}

#activities h4
{
	font-family:Ebrima;
	font-size:26px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	padding-top:40px;
}

#web1
{
	width:335px;
    height:290px;
	margin:10px auto 0px auto;
	text-align:left;
	float:left;
}


#web1-text
{
	width:335px;
	height:300px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#web1-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#web1-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#web2
{
	width:335px;
    height:250px;
	margin:10px auto 0px 50px;
	text-align:left;
	float:left;
}


#web2-text
{
	width:335px;
	height:300px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#web2-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:35px auto 0px auto;
}

#webpic
{
	background:url('../other/images/website.png') no-repeat 0 0;
	width:720px;
	height:222px;
	margin:20px auto 0px auto;
	float:left;
}

#webpictext
{
	width:720px;
	height:12px;
	margin:212px auto 0px auto;
	float:left;
}

#webpictext h5
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	float:left;
	padding:0px 142px 0px 140px;
}

#webpictext h6
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;	
	float:left;
	margin:0px 139.5px auto 137.5px;
}

#adapt1
{
	width:335px;
    height:480px;
	margin:80px auto 0px 0px;
	text-align:left;
	float:left;
}


#adapt1-text
{
	width:335px;
	height:480px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#adapt1-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#adapt1-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#adapt2
{
	width:335px;
    height:480px;
	margin:105px auto 0px 50px;
	text-align:left;
	float:left;
}


#adapt2-text
{
	width:335px;
	height:410px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#adapt2-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#process2
{
	width:100%;
	min-width:720px;
	height:1370px;
	background: #fffee6;
	margin:0px auto 0px auto;
	text-align:center;
}

#wrapper2
{
	width:720px;
	margin:auto;
    text-align: left;		
}

#dutch
{
	width:335px;
    height:250px;
	margin:50px auto 0px auto;
	text-align:left;
	float:left;
}


#dutch-text
{
	width:335px;
	height:250px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#dutch-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#dutch-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#week
{
	width:335px;
    height:250px;
	margin:50px auto 0px 50px;
	text-align:left;
	float:left;
}


#week-text
{
	width:335px;
	height:250px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#week-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:35px auto 0px auto;
}

#ddpic
{
	background:url('../other/images/dutchd.png') no-repeat 0 0;
	width:720px;
	height:126px;
	margin:15px auto 0px auto;
	float:left;
}

#ddpictext
{
	width:720px;
	height:12px;
	margin:130px auto 0px auto;
	float:left;
}

#ddpictext h5
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	float:left;
	padding:0px 142px 0px 140px;
}

#ddpictext h6
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;	
	float:left;
	margin:0px 67.5px auto 72.5px;
}

#ddpictext h4
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;	
	float:left;
	margin:0px auto auto 90px;
}

#trip1
{
	width:335px;
    height:200px;
	margin:80px auto 0px auto;
	text-align:left;
	float:left;
}


#trip1-text
{
	width:335px;
	height:200px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#trip1-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#trip1-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#trip2
{
	width:335px;
    height:200px;
	margin:105px auto 0px 50px;
	text-align:left;
	float:left;
}


#trip2-text
{
	width:335px;
	height:200px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#trip2-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#trippic
{
	background:url('../other/images/trip.png') no-repeat 0 0;
	width:720px;
	height:157px;
	margin:20px auto 0px auto;
	float:left;
}

#trippictext
{
	width:720px;
	height:12px;
	margin:163px auto 0px auto;
	float:left;
}

#trippictext h5
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	float:left;
	padding:0px 142px 0px 320px;
}

#trippictext h4
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;	
	float:left;
	margin:0px auto auto 120px;
}

#book1
{
	width:335px;
    height:250px;
	margin:80px auto 0px auto;
	text-align:left;
	float:left;
}


#book1-text
{
	width:335px;
	height:250px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#book1-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#book1-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#bookpic
{
	width:335px;
    height:250px;
    background:url('../other/images/book.png') no-repeat 0 0;
	margin:120px auto 0px 50px;
	text-align:left;
	float:left;
}



#bookpictext
{
	width:720px;
	height:12px;
	margin:180px auto 0px auto;
	float:left;
}

#bookpictext h5
{
	font-family:Ebrima;
	font-size:10px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	float:left;
	padding:0px 142px 0px 100px;
}


#footerback
{
	width:100%;
	min-width:720px;
	background-color:#423826;
	height:80px;
	margin-top:0px;	
	
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:auto;
	padding-top:30px;
}