@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

body
{
	border-top: 20px solid rgb(31,178,170);
	background: url('../images/back.png') left top;
}



#all
{
	display:block;
}

#wrapper
{
	min-width: 980px;
	width:100%;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:140px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);


}

#name
{
	background: url('../images/name.png') no-repeat 0 0;
	height: 47px;
	width: 206px;
	margin:30px auto;
}

.menu
{
	display: block;
	height: 30px;
	width:447px;
	margin:40px auto;
}

.menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
}

a:hover
{
	color: #725225;
}

.menu h1
{	
	float:left;
	margin-right:40px;
}

.menu h2
{
	margin-right: 40px;
	float:left;
}

.menu h3
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
	color:#725225;

	margin-right: 40px;
	float:left;
}

.menu h4
{
	float:left;
}

#worksmenu
{
	display: block;
	height: 160px;
	width:549px;
	margin:150px auto 0px auto;
	text-align:left;
}

#project
{
	width:85px;
	height:132px;
	background:url('../works/images/project1.png') no-repeat 0 0;
	float:left;
}

#project:hover
{
	background:url('../works/images/project.png') no-repeat 0 0;
}


#modules
{
	width:103px;
	height:128px;
	background:url('../works/images/modules1.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
}

#modules:hover
{
	background:url('../works/images/modules.png') no-repeat 0 0;
}

#other
{
	width:81px;
	height:127px;
	background:url('../works/images/other.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
}

#come
{
	width:720px;
	height:100px;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:30px;
	color:#404039;
	margin:30px auto 0px auto;
	text-align:center;

}

#footerback
{
	width:100%;
	min-width:720px;
	background-color:#423826;
	height:80px;
	margin-top:0px;	
	
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:0px auto 0px auto;
	padding-top:30px;
}
