@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

@font-face {
    font-family: 'Ebrima';
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot');
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot?#iefix') format('embedded-opentype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.woff') format('woff'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.ttf') format('truetype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.svg#Ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color: #bbdfd4;
    color:#ffffff;
}

body
{
	border-top: 20px solid rgb(31,178,170);
	background: url('../images/back.png') left top;
}



#all
{
	display:block;
}

#wrapper
{
	min-width: 980px;
	width:100%;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:170px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);

}

#name
{
	height: 60px;
	width: 300px;
	margin:12px auto;
}

#name h1
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#000000;
	text-align:center;
}

#name h2
{
	font-family:'Ebrima', serif;
	font-size:16px;
	color:#7e7e7e;
	margin-top:2px;
	text-align:center;
}

#menu
{
	display: block;
	height: 30px;
	width:431px;
	margin:110px auto 0px auto;
}

#menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight: lighter ;
}

a:hover
{
	color: #725225;
}

#menu h1
{	
	float:left;
	margin-right:40px;
}

#menu h2
{
	margin-right: 40px;
	float:left;
}

#menu h3
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight: lighter ;
	color:#725225;

	margin-right: 40px;
	float:left;
}

#menu h4
{
	float:left;
}

#worksmenu
{
	display: block;
	height: 170px;
	width:549px;
	margin:50px auto 0px auto;
	text-align:left;
}

#project
{
	width:85px;
	height:133px;
	background:url('../works/images/project1.png') no-repeat 0 0;
	float:left;
	margin-top:30px;
}

#project:hover
{
	background:url('../works/images/project.png') no-repeat 0 0;
}

#modules
{
	width:103px;
	height:128px;
	background:url('../works/images/modules.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
	margin-top:30px;

}

#other
{
	width:80px;
	height:128px;
	background:url('../works/images/other1.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
	margin-top:30px;

}

#other:hover
{
	background:url('../works/images/other.png') no-repeat 0 0;
}

#modulemenu
{
	width:720px;
	height:100px;
	text-align:center;
	margin:50px auto 0px auto;
}

#ghost
{
	width:64px;
	height:70px;
	float:left;
}

#ghost h5
{
	font-family:Ebrima;
	font-size:18px;
	font-weight: lighter ;
	color:#404039;
	margin:8px auto 0px 3px;
	text-align:center;
}

#line1
{
	width:64px;
	height:2px;
	margin-top:15px;
	margin-left:0px;
	padding:0px;
	background-color:#eb9d14;
	overflow:hidden;
}

#line1-1
{
	width:64px;
	height:2px;
	margin-top:8px;
	margin-left:0px;
	padding:0px;
	background-color:#eb9d14;
	overflow:hidden;
}


#activate
{
	width:268px;
	height:70px;
	margin-left:74.5px;
	float:left;
}

#activate h5
{
	font-family:Ebrima;
	font-size:18px;
	font-weight: lighter ;
	color:#aaaaaa;
	margin:8px auto 0px 3px;
	text-align:center;
}


#line2
{
	width:268px;
	height:2px;
	margin-top:15px;
	margin-left:0px;
	padding:0px;
	background-color:#d7d65d;
	overflow:hidden;
}

#line2-1
{
	width:268px;
	height:2px;
	margin-top:8px;
	margin-left:0px;
	padding:0px;
	background-color:#d7d65d;
	overflow:hidden;
}

#activate h5:hover
{
	color:#404039;
}

#constructive
{
	width:239px;
	height:70px;
	margin-left:74.5px;
	float:left;
}

#constructive h5
{
	font-family:Ebrima;
	font-size:18px;
	font-weight: lighter ;
	color:#aaaaaa;
	margin:8px auto 0px 3px;
	text-align:center;
}

#line3
{
	width:239px;
	height:2px;
	margin-top:15px;
	margin-left:0px;
	padding:0px;
	background-color:#89c148;
	overflow:hidden;
}

#line3-1
{
	width:239px;
	height:2px;
	margin-top:8px;
	margin-left:0px;
	padding:0px;
	background-color:#89c148;
	overflow:hidden;
}
 

#constructive h5:hover
{
	color:#404039;
}

#ghostback
{
	height:700px;
	background: url('../modules/images/back1.png') no-repeat 0 0;
	background-size:cover;
	margin:30px auto 0px auto;
}

#textpart
{
	width:720px;
    min-height:760px;
	margin:0px auto;
	text-align:left;
}

#modulebackground1
{
	width:340px;
    min-height:200px;
	margin:30px auto 0px 0px;
	text-align:left;
	float:left;
}

#modulebackground1 h5
{
	font-family:Ebrima;
	font-size:26px;
	font-weight:lighter;
	color:#404039;
	margin:0px auto 0px auto;
	text-align:left;
}

#modulebackground1 p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	margin:10px auto;
	text-align:justify;
}

#modulebackground2
{
	width:340px;
    min-height:200px;
	margin:65px auto 0px 40px;
	text-align:left;
	float:left;
}

#modulebackground2 p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	margin:10px auto;
	text-align:justify;
}

#video
{
	width:720px;
	height:405px;
	margin:10px auto 0px auto
}

#process
{
	width:100%;
	min-width:720px;
	height:870px;
	background: #fffbe6;
	margin:0px auto 0px auto;
	text-align:center;
}

#activities
{
	width:720px;
	height:80px;
	margin:0px auto;
}

#activities h4
{
	font-family:Ebrima;
	font-size:26px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	padding-top:40px;
}

#concept
{
	width:720px;
    height:200px;
	margin:10px auto;
	text-align:left;
}


#concept-text
{
	width:335px;
	height:500px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#concept-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#concept-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#conceptpic
{
	width:335px;
	height:165px;
	margin:40px 0px 0px 50px;
	float:left;
}

#concept-sketch
{
	width:196px;
	height:165px;
	background:url('../modules/images/concept-sketch.png') no-repeat 0 0;
	margin-left:0px;
	float:left;
}

#knock
{
	width:108px;
	height:165px;
	background:url('../modules/images/knock.png') no-repeat 0 0;
	margin-left:10px;
	float:left;
}

#implementation
{
	width:335px;
    height:525px;
	margin:10px auto 0px -335px;
	text-align:left;
	float:left;
}


#imp-text
{
	width:335px;
	height:260px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#imp-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#imp-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#imppic
{
	background:url('../modules/images/imp.png') no-repeat 0 0;
	width:335px;
	height:251px;
	margin:10px 0px 0px 0px;
	float:left;
}

#behavior
{
	width:335px;
    height:525px;
	margin:10px auto 0px 50px;
	text-align:left;
	float:left;
}


#beh-text
{
	width:335px;
	height:260px;
	margin:0px auto 0px 0px;
	text-align:left;
	float:left;
}

#beh-text h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
}


#beh-text p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#behpic
{
	background:url('../modules/images/beh.png') no-repeat 0 0;
	width:335px;
	height:251px;
	margin:10px 0px 0px 0px;
	float:left;
}

#reflectiongback
{
	width:100%;
	min-width:720px;
	height:700px;
	background: #fad268;
	margin:0px auto 0px auto;
	text-align:center;
}

#reflectiong
{
	width:720px;
	height:700px;
	margin:0px auto 0px auto;
}

#re
{
	width:720px;
	height:60px;
	margin:0px auto 0px auto;
}

#reflectiong h5
{
	font-family:Ebrima;
	font-size:26px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	padding-top:40px;
}

#ds
{
	width:720px;
	height:120px;
	margin:20px auto 0px auto;
}

#ds h4
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	margin:10px auto 0px auto;
}


#ds p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#fi
{
	width:720px;
	height:140px;
	margin:20px auto 0px auto;
}

#fi h4
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	margin:10px auto 0px auto;
}


#fi p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#dp
{
	width:720px;
	height:140px;
	margin:20px auto 0px auto;
}

#dp h4
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	margin:10px auto 0px auto;
}


#dp p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#t
{
	width:720px;
	height:140px;
	margin:20px auto 0px auto;
}

#t h4
{
	font-family:Ebrima;
	font-size:20px;
	font-weight:lighter ;
	color:#404039;
	text-align:left;
	margin:10px auto 0px auto;
}


#t p
{
	font-family:Ebrima;
	font-size:16px;
	color:#404039;
	text-align:justify;
	margin:5px auto 0px auto;
}

#linkbackl
{
	width:100%;
	min-width:720px;
	height:2px;
	background: #f4edc9;
	margin:0px auto 0px auto;
	text-align:center;
}

#linkback
{
	width:100%;
	min-width:720px;
	height:100px;
	background: #fad268;
	margin:0px auto 0px auto;
	text-align:center;
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:auto;
	padding-top:30px;
}
