@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

@font-face {
    font-family: 'Ebrima';
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot');
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot?#iefix') format('embedded-opentype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.woff') format('woff'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.ttf') format('truetype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.svg#Ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	border-top: 20px solid rgb(77,197,173);
	background: url('images/back.png') left top;
}



#all
{
	display:block;
}

#wrapper
{
	width: 680px;
	margin:auto;
    text-align: left;	
	
}

#logo
{
	background: url('images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:170px auto 0 auto;
}

#name
{
	height: 60px;
	width: 300px;
	margin:20px auto;
	text-align: center;
	margin-top:12px;
}

#name h1
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#000000;
	text-align:center;
}

#name h2
{
	font-family:'Ebrima', serif;
	font-size:16px;
	font-weight:  lighter ;
	color:#7e7e7e;
	margin-top:2px;
}

#menu
{
	display: block;
	height: 30px;
	width:680px;
	margin:60px 0px auto 0px;
	float:left;
}

#menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:lighter;
}

a:hover
{
	color: #725225;
}

#menu h1
{	
	float:left;
	margin-left:132px;
}

#menu h2
{
	margin-left: 35px;
	float:left;
}

#menu h3
{
	margin-left: 35px;
	float:left;
}

#menu h4
{
	float:left;
	margin-left: 32.5px;
	margin-right: 132px;
}
	
.introtext
{
	margin:50px 0px 0px 0px;
	width: 680px;

}

.introtext p
{
	
	color: #4B5C66;
	font-family:Ebrima;
	font-size: 16px;
	text-align: center;
	margin-left:0px;
}
