@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color: #bbdfd4;
    color:#ffffff;
}

body
{
	border-top: 20px solid rgb(31,178,170);
	background: url('../images/back.png') left top;
}



#all
{
	display:block;
}
.wrapper
{
	width: 720px;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:140px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#name
{
	height: 60px;
	width: 300px;
	margin:30px auto;
}

#name h1
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#000000;
	text-align:center;
}

#name h2
{
	font-family:'Ebrima', serif;
	font-size:16px;
	font-weight:  lighter ;
	color:#7e7e7e;
	margin-top:2px;
	margin-left:64px;	
}

.menu
{
	display: block;
	height: 30px;
	width:447px;
	margin:110px auto 0px auto;
}

.menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
}

a:hover
{
	color: #725225;
}

.menu h1
{	
	float:left;
	margin-right:40px;
}

.menu h2
{
	margin-right: 40px;
	float:left;
}

.menu h3
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
	color:#725225;

	margin-right: 40px;
	float:left;
}

.menu h4
{
	float:left;
}

#worksmenu
{
	display: block;
	height: 140px;
	width:549px;
	margin:80px auto 0px auto;
	text-align:left;
}

#project
{
	width:85px;
	height:133px;
	background:url('../works/images/project.png') no-repeat 0 0;
	float:left;
}

#modules
{
	width:103px;
	height:128px;
	background:url('../works/images/modules1.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
}

#modules:hover
{
	background:url('../works/images/modules.png') no-repeat 0 0;
}

#other
{
	width:80px;
	height:128px;
	background:url('../works/images/other1.png') no-repeat 0 0;
	float:left;
	margin-left:140px;
}

#other:hover
{
	background:url('../works/images/other.png') no-repeat 0 0;
}

#back1
{
	background: url('../works/images/back1.png') no-repeat 0 0;
	background-size:cover;
	height:465px;
	margin:10px auto 0px auto;
}

#video1
{
	width:720px;
	height:425px;
	margin:-425px auto 0px auto;
}

#back2
{
	background-size:cover;
	background-color:#fffffa;
	height:1000px;
	margin:0px auto 0px auto;
}

#introduction
{
	width:720px;
	height:500px;
	margin:0px auto 0px auto;
}

#introduction h1
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:32px;
	padding-top:35px;
	float:inherit;
}

#introduction p
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:21px;
	color:#000000;
	margin:10px auto 0px 0px;
	float:inherit;
}

#introduction h2
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:32px;
	padding-top:25px;
	float:inherit;
}

#introduction h3
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:25px;
	padding-top:10px;
	float:inherit
}

#footerback
{
	width:100%;
	min-width:720px;
	background-color:#423826;
	height:80px;
	margin-top:0px;	
	margin-bottom:0px;
	
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:auto;
	padding-top:30px;
}
