@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Raleway';
	src: url('../../font/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('../../font/fontscorecomttwcenmt.woff') format('woff'), url('../../font/fontscorecomttwcenmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */
.fontsforweb_fontid_13141 {
	font-family: 'fontscorecomttwcenmt' !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
}


#all
{
	display:block;
}

#header
{
	width: 100%;
	position: fixed;
	z-index: -999;
}

#header img
{
	width: 100%;
	position: relative;
}

#header-text
{
	width: 100%;
	display: block;
	top: 24%;
	left: 30%;
	position: absolute;
}

#header-text h1
{
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	font-weight: 300;
	margin-top:0;
	margin-left: 0;
	position: relative;
}

#header-text p
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 200;
	color: #ffffff;
	margin-left: 0;
	margin-top: 20px;
	line-height: 160%;
	position: relative;
}

#nav
{
	width: 100%;
	height: 80px;
	position: fixed;
	z-index: 998;	
}

#home
{
	width: 30px;
	height: 30px;
	background: url(images/homelogo.png) no-repeat;
	background-size: cover;
	margin: 27px 0 0 50px;
	position: absolute;
	display: block;
	opacity: 0;
}

a#home:hover
{
	background: url(images/homelogo2.png) no-repeat;
	background-size: cover;
	
}

.background
{
	background: url(images/back.jpg) no-repeat;
	background-size: cover;
}

.nav-title
{
	width: 280px;
	height: 80px;
	margin: 0 auto;	
	opacity: 0;
	z-index: 999;
	
}

.nav-title h3
{
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	z-index: 999;
	padding-top: 27px;
	text-align: center;
}

#wrappera
{
	width: 100%;
	display: block;
	top: 450px;
	z-index: 30;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	-webkit-animation: intro-content 2s forwards;
	-moz-animation: intro-content 2s forwards;
	-o-animation: intro-content 2s forwards;
	animation: intro-content 2s forwards;
}

#content
{
	display:block;
	width: 100%;
	margin:0 auto;
}

#content h2
{
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	font-weight:200;
	text-align: center
}

#content p
{
	font-family: 'Raleway', sans-serif;
	font-size:16px;
	font-weight:300;	
	line-height: 170%;
	letter-spacing: 0.3px;
}

#concept
{
	display:block;
	width: 100%;
	margin-top: 130px;
}

#concept-text
{
	display: block;
	width:40%;
	margin: 30px auto 0 auto;	
}

#concept-pic
{
	display:block;
	width: 720px;
	height: 434px;
	margin: 70px auto 0 auto;
	font-size:0;
	background: url(images/brief.jpg) no-repeat 0 0;
	background-size:cover;
}

#process
{
	display:block;
	width: 100%;
	margin:150px auto 0 auto;
}

#process-pic
{
	display:block;
	width: 720px; 
	height: 332px;
	margin: 70px auto 0 auto;
	font-size:0;
	background: url(images/detail.jpg) no-repeat 0 0;
	background-size:cover;
}

#process-text
{
	display: block;
	width:40%;
	margin:30px auto 0 auto;
}

#theory-pic
{
	display:block;
	width: 720px;
	height: 332px;
	margin: 70px auto 0 auto;
	font-size:0;
	background: url(images/fold.jpg) no-repeat 0 0;
	background-size:cover;
}

#other
{
	width: 100px;
	display: block;
	margin:120px auto 0 auto;
}

.other-wrap
{
	width: 100px;
	height: 55px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	border: #80DEEA solid 1px;
	color: #555555;
	z-index: 35;
	position: relative;
	opacity: 1;
}

.other-wrap:hover
{
	color: #ffffff;
	background-color: #80DEEA;
}

.other-wrap h5
{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;
	letter-spacing: 0.5px;	
	line-height: 150%;
	
}

.footer, .push
{
    width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:120px;
}

#footertext
{
	width:100%;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#575757;
	margin:0 auto;
	padding-top:30px;
}

@media screen and (max-width: 900px) {
    #introduction-pic {
		width: 540px;
		height: 341.25px
	}
	#concept-pic {
        width: 600px;
		height: 362px;
    }
	#process-pic {
        width: 600px;
		height: 277px;
    }
	#theory-pic {
        width: 600px;
		height: 277px;
    }
	
	#header-text {
		left:25%;
	}
	#header h1 {
		font-size: 40px;
	}
	#header p {
		font-size: 16px;
		margin-top: 15px;
	}
}

@media screen and (max-width: 680px) {
    #header h1 {
		font-size: 36px;
	}
	#header p {
		font-size: 16px;
		margin-top: 15px;
	}
	#concept-pic {
        width: 400px;
		height: 241px;
    }
	#process-pic {
        width: 400px;
		height: 185px;
    }
	#theory-pic {
        width: 400px;
		height: 185px;
	}
}

@media screen and (max-width: 480px) {
	#header p {
		font-size: 12px;
		margin-top: 10px;
	}
	#concept-pic {
        width: 360px;
		height: 217px;
    }
	#process-pic {
        width: 360px;
		height: 166px;
    }
	#theory-pic {
        width: 360px;
		height: 166px;
    }
}

@media screen and (max-width: 1080px) {
	#wrappera {
	top: 400px;
	}
}

@media screen and (max-width: 980px) {
	#wrappera {
	top: 370px;
	}
	#concept {
		margin-top: 100px;
	}
}

@media screen and (max-width: 860px) {
	#wrappera {
	top: 320px;
	}
	#concept {
		margin-top: 80px;
	}
}

@media screen and (max-width: 760px) {
	#header h1 {
		font-size: 34px;
	}
	#wrappera {
	top: 300px;
	}
	#concept {
		margin-top: 70px;
	}
}

@media screen and (max-width: 680px) {
	#wrappera {
		top: 250px;
	}
}

@media screen and (max-width: 590px) {
	#header h1 {
		font-size: 26px;
	}
	#header p {
		font-size: 14px;
		margin-top: 10px;
	}
	#concept {
		margin-top: 50px;
	}
	#wrappera {
		top: 220px;
	}
}


@media screen and (max-width: 480px) {
	#header h1 {
		font-size: 22px;
	}
	#header p {
		font-size: 12px;
	}
	#home {
		margin: 27px 0 0 25px;
		width: 25px;
  		height: 25px;
	}
	#wrappera {
		top: 200px;
	}
	#concept {
		margin-top: 40px;
	}
}

	
