@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

body
{
	border-top: 20px solid rgb(31,178,170);
	background: url('../images/back.png') left top;
}



#all
{
	display:block;
}

#wrapper
{
	width: 980px;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:140px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}



#name
{
	background: url('../images/name.png') no-repeat 0 0;
	height: 47px;
	width: 206px;
	margin:30px auto;
}

.menu
{
	display: block;
	height: 30px;
	width:447px;
	margin:40px auto;
}

.menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
}

a:hover
{
	color: #725225;
}

.menu h1
{	
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
	color:#725225;
	float:left;
	margin-right:40px;
}

.menu h2
{
	margin-right: 40px;
	float:left;
}

.menu h3
{
	margin-right: 40px;
	float:left;
}

.menu h4
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
	color:#725225;
	float:left;
}

#section
{
	width: 720px;
	margin:70px auto 0px auto;
    text-align: left;
}	

#section1
{
	width: 720px;
	height:150px;
	margin:auto;
    text-align: left;
}

#visiontitle
{
	width: 720px;
	height:21px;
	margin:auto;
    float: left;

}

#line1
{
	width:266px;
	height:1px;
	margin-top:13px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

h5
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:20px;
	color:#13120b;
	margin:0px auto auto 30px;
	text-align:left;
	float:left;
}

#line2
{
	width:266px;
	height:1px;
	margin-top:13px;
	margin-left:30px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#footerback
{
	width:100%;
	min-width:720px;
	background-color:#423826;
	height:80px;
	margin-top:0px;	
	
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:auto;
	padding-top:30px;
}