@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 150px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color:#D7D7CE;
	color:#ffffff;
}



#all
{
	display:block;
}

#border
{
	width: 100%;
	height:8px;
    style: solid;
    background-color: rgb(0, 0, 0);
	margin:0px 0px auot 0px;
	position: fixed;
}

#wrappera
{
	width: 1100px;
	margin:auto;	
}

#wrapper
{
	width: 980px;
	margin:auto;
    text-align: left;		
}

#guide
{
	height: 75px;
	position: fixed;
	margin:8px 0px auto 0px;
}

#homeguide
{
	width:75px;
	height:75px;
	margin-left:905px;
	background: url('../cloud/images/homeguide.png') no-repeat 0 0;
}

#homeguide:hover
{
	opacity:0.6;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

#content
{
	display:block;
	width:980px;
	margin-top:155px;
	float:left;
}

#title
{
	display:block;
	width: 980px;
	margin-top:0px;
	float:left;
}

#title h1
{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:300;
	margin-top:0px;
	position:absolute;
}

#title p
{
	font-family: Calibri;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 32px;
	position:absolute;
	
}

#brief
{
    display:block;
	width: 980px;
	margin-top:90px;	
}

#briefpic
{
    height:414px;
	width: 720px;
	margin-top:0px;	
	border-top : 1px solid #4F4F4F;
	border-bottom : 1px solid #4F4F4F;
	border-left : 1px solid #4F4F4F;
	border-right : 1px solid #4F4F4F;
	float:left;
}

#briefimg
{
    height: 394px;
	width: 700px;
	margin:10px 10px auto;
	background: url('../cloud/images/brief.png') no-repeat 0 0;
}

#brieftext
{
	height: 350px;
	width: 190px;
	margin-top: 0px;
	margin-left: 40px;
	float: left;
}

#brieftext p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1.5;	
}

#briefline
{
	border-top : 1px dashed #4F4F4F;
	width:160px;
	height:2px;
	margin-top:12px;
	float:left
}

#introduction
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#introduction h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:300;

}

#introductiontext
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:150%;	
}

#introductiontext p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;	
}

#detail
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#detail h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:300;
}

#detailtext
{
	display:block;
	width:650px;
	margin-top:15px;	
}

#detailtext p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1.5;
}

#detailpic
{
	width:720px;
	height:241px;
	margin-top:30px;
	background:url('../cloud/images/procedure.png') no-repeat 0 0;
	float:left;
}

#diagram
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#diagram h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:24px;
	font-weight:300;
}

#diagram-text
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:150%;	
}

#diagram-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1.5;
}

#dia-1
{
	width:720px;
	display:block;
	margin-top:20px;
	float:left;
}

#dia-1-text
{
	display:block;
	width:650px;
	float:left;
}

#dia-1-text-title
{
	display:block;
	width:233px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#dia-1-text-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#dia-1-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	margin-top:10px;
	float:left;
	line-height:1.5;
}

#dia-1-pic
{
	width:720px;
	height:214px;
	margin-top:30px;
	background:url('../cloud/images/dia1.png') no-repeat 0 0;
	float:left;
}

#dia-2
{
	width:720px;
	display:block;
	margin-top:40px;
	float:left;
}

#dia-2-text
{
	display:block;
	width:650px;
	float:left;
}

#dia-2-text-title
{
	display:block;
	width:127px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#dia-2-text-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#dia-2-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	margin-top:10px;
	float:left;
	line-height:1.5;
}

#dia-2-pic
{
	width:720px;
	height:250px;
	margin-top:30px;
	background:url('../cloud/images/dia2.png') no-repeat 0 0;
	float:left;
}

#dia-3
{
	width:720px;
	display:block;
	margin-top:40px;
	float:left;
}

#dia-3-text
{
	display:block;
	width:650px;
	float:left;
}

#dia-3-text-title
{
	display:block;
	width:222px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#dia-3-text-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#dia-3-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	margin-top:10px;
	float:left;
	line-height:1.5;
}

#dia-3-pic
{
	width:720px;
	height:206px;
	margin-top:30px;
	background:url('../cloud/images/dia3.png') no-repeat 0 0;
	float:left;
}

#dia-4
{
	width:720px;
	display:block;
	margin-top:40px;
	float:left;
}

#dia-4-text
{
	display:block;
	width:650px;
	float:left;
}

#dia-4-text-title
{
	display:block;
	width:220px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#dia-4-text-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#dia-4-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	margin-top:10px;
	float:left;
}

#dia-4-pic
{
	width:720px;
	height:167px;
	margin-top:30px;
	background:url('../cloud/images/dia4.png') no-repeat 0 0;
	float:left;
}

.footer, .push
{
    width:100%;
	min-width:1100px;
	background-color:#F4F4F4;
	height:80px;
	margin-top:120px;
	float:left;
}

#footertext
{
	width:720px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#575757;
	margin:auto;
	padding-top:30px;
}
