@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Raleway', sans-serif;
}

#cv-page
{
	display: block;
}

#cv-wrapper
{
	width: 900px;
	height: 1250px;
	margin: 0 auto;
	position: relative;
	display: block;
	background: url(images/resume.png) no-repeat;
	background-size: cover;
	z-index: -999;
}

.cv-footer, .push {
    width:100%;
	background-color:#F4F4F4;
	height:80px;
	margin-top:10%;
	float:left;
}

#cv-footertext
{
	max-width:150px;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:12px;
	color:#575757;
	margin:0 auto;
	padding-top:35px;
}

a#cv-close:hover {
  background: url(images/close2.png);
  background-size: cover;
}

a#cv-close {
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 95%;
  margin-top: 5%;
  text-align: center;
  background: url(images/close1.png);
  background-size: cover;
  z-index: 999;
}