@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: 'Raleway';
	src: url('../../font/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'), url('../../font/fontscorecomttwcenmt.woff') format('woff'), url('../../font/fontscorecomttwcenmt.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_13141">Text with this font applied</p> */
.fontsforweb_fontid_13141 {
	font-family: 'fontscorecomttwcenmt' !important;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
}
body, html {
	height: 100%;
}


.cross-menu {
	width:30px;
	height: 30px;
	position: fixed;
	top: 50px;
	left: 50px;
	z-index: 100;
	opacity: 0;
}

.cross-menu {
	cursor: pointer;
}

.cross-part-1, .cross-part-2, .cross-part-3 {
	width: 5px;
  	height: 5px;
  	top:10px;
  	border-radius: 5px;
  	background-color: #35c1d5;
  	position: absolute;
}

.cross-part-2 {
	left:10px;
}

.cross-part-3 {
	left:20px;
}

.cross-open {
	-webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.cross-menu .cross-part-1, .cross-menu .cross-part-2, .cross-menu .cross-part-3 {
	-webkit-transition: all 0.2s ease-in;
  	-moz-transition: all 0.2s ease-in;
  	transition: all 0.2s ease-in;
}

.cross-open .cross-part-1 {
	width: 25px;
  	height: 2.5px;
  	background-color: #35c1d5;
  	position: absolute;
  	top: 10px;

  	-webkit-transform: rotate(135deg);
  	-moz-transform: rotate(135deg);
  	-ms-transform: rotate(135deg);
  	-o-transform: rotate(135deg);
  	transform: rotate(135deg);
}

.cross-open .cross-part-2 {
	width: 0px;
  	height: 2.5px;
  	background-color: #35c1d5;
  	position: absolute;
  	top: 10px;
  	opacity: 0;
}

.cross-open .cross-part-3 {
	width: 25px;
  	height: 2.5px;
  	background-color: #35c1d5;
  	position: absolute;
  	top: 10px;
  	left:0;

  	-webkit-transform: rotate(-135deg);
  	-moz-transform: rotate(-135deg);
  	-ms-transform: rotate(-135deg);
  	-o-transform: rotate(-135deg);
  	transform: rotate(-135deg);
}

.cross-open .cross-part-1, .cross-open .cross-part-2, .cross-open .cross-part-3 {
	-webkit-transition: all 0.2s ease-out;
  	-moz-transition: all 0.2s ease-out;
  	transition: all 0.2s ease-out;
}

.nav {
	width: 120px;
	height: 400px;
	background-color: #000000;
	position: fixed;
	z-index: 90; 
	opacity: 0.75;
	left:-120px;
	-webkit-transition: width 1s; 
    transition: width 1s;

    -webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.out {
	left:0;
	-webkit-transition: width 1s; 
    transition: width 1s;

    -webkit-transition: all 0.2s ease-in-out;
  	-moz-transition: all 0.2s ease-in-out;
  	transition: all 0.2s ease-in-out;
}

.nav-list {
	width: 100%;
	top: 100px;
	position: relative;
	text-align: center;
}

.nav-list p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 200;
	color: #fefefe;
	line-height: 170%;
	padding-top: 15px;
	padding-bottom: 0px;
}


#home {
	width:100%;
	height:85%;
	display: block;
	position: relative;
	margin-bottom: 50px;
}

#homeabso {
	width:100%;
	height:100%;
	display: block;
	position: absolute;
}

#homeback {
	width:14%;
	left:43%;
	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#home-text {
	width:40%;
	height: 10%;
	left:30%;
	top:80%;
	position: absolute;
	text-align: center;
}

.page p, #home p{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 300px;
	color: #4f4f4f;
	line-height: 170%;
}

.page {
	width:100%;
	display: block;
	position: relative;
}

.partone {
	width:50%;
	left:0;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.parttwo {
	width:50%;
	margin-left:0;
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.title {
	width: 50%;
	left:20%;
	margin-top: 8%;
	position: relative;
	display: block;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 200px;
	color: #4f4f4f;
	line-height: 170%;
}

.text {
	width:60%;
	left:20%;
	margin-top: 20px;
	margin-bottom: 100px;
	display: block;
	position: relative;
}

.link {
	width:60%;
	left:20%;
	margin-top:  100px;
	margin-bottom: 100px;
	position: relative;
	display: block;
}

.linkbox {
	width:110px;
	height: 35px;
	border: 1px solid #94ebf7;
	border-radius: 40px;
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: 6px;
}

.linkbox p{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #4f4f4f;
}

a{
	text-decoration: none;
}

#vi {
	background-color: #fcfcfc;
}

#vision {
	background-color: #fcfcfc;
}

#identity {
	background-color: #f7f7f7;
}

#goalsone {
	background-color: #f7f7f7;
}

#goals {
	background-color: #ffffff;
}

#goalspic {
	background-color: #ffffff;
	text-align: center;
}

#project {
	background-color: #fcfcfc;
}

#goalspic-img {
	width:100%;
	max-width: 900px;
	position: relative;
}

#projectpic {
	background-color: #353535;
	text-align: center;
}

#projectpic-img {
	width:100%;
	max-width: 900px;
	position: relative;
}

#projecttext {
	background-color: #fcfcfc;
}

#projecttext .text {
	margin-bottom: 0px;
}

#feedback {
	margin-left: 20px;
}

#report {
	margin-left: 20px;
}

#project-deve {
	background-color: #f7f7f7;
}


#deveone {
	background-color: #fcfcfc;
}

#devetwo {
	background-color: #f7f7f7;
}


#gro-title {
	margin-top: 100px;
}

#sdlpic {
	background-color: #353535;
	text-align: center;
}

#sdlpic-img {
	width:100%;
	max-width: 900px;
	position: relative;
}


#sdltext {
	background-color: #ffffff;
}

#yelp-seemore, #ibm-seemore, #insole-seemore {
	width:96px;
	height: 25px;
	border: 1px solid #94ebf7;
	border-radius: 30px;
	position: relative;
	display: inline-block;
	text-align: center;
	padding-top: 3px;
	margin-top:25px;
}


#growth {
	background-color: #353535;
}

#growthpic {
	background-color: #353535;
	text-align: center;
}

#growthpic-img {
	width:100%;
	max-width: 900px;
	position: relative;
}

#m21 {
	background-color: #f7f7f7;
}

#portfolio-g {
	margin-left: 20px;
	background-color: #f7f7f7;
}

#present {
	background-color: #f7f7f7;
	padding-top:50px;
}

#future {
	padding-top:50px;
}

#contact{	
	background-color: #fcfcfc;
	height: 135px;
}

.contact-link {
	width:25%;
	padding-top: 40px;
	padding-bottom: 30px;
	display: inline-block;
	position: relative;
	text-align: center;
}

.contact-link p{
	font-size: 18px;
	color: #b7b7b7;
}

.contact-icon {
	font-size: 24px;
	margin-bottom: 6px;
	color: #b7b7b7;
	text-align: center;
	display: block;
}

.footer, .push
{
    display: block;
	width:100%;
	background-color:#f7f7f7;
	height:80px;
}

#footertext
{
	width:100%;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	font-weight: 300;
	color:#575757;
	margin:0 auto;
	padding-top:30px;
}

@media screen and (max-width: 1341px) {
	#sdl {
	background-color: #353535;
	}
}

@media screen and (max-width: 1285px) {
    #project {
	background-color: #353535;
	}
}

@media screen and (max-width: 1254px) {
    .linkbox {
		display: block;
	}

	#feedback {
		margin-top:20px;
		margin-left: 0;
	}

	#report {
		margin-top:20px;
		margin-left: 0;
	}

	#projectpic-img {
		margin-top:10%;
	}

	#sdlpic-img {
		margin-top:10%;
	}

	#growthpic-img {
		margin-top:10%;
	}

	#goalspic-img {
		margin-top:10%;
	}

	#portfolio-g {
		margin-top:20px;
		margin-left: 0;
	}
}

