@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color: #bbdfd4;
    color:#ffffff;
}

body
{
	border-top: 20px solid rgb(31,178,170);
	background: url('../images/back.png') left top;
}

#all
{
	display:block;
}

.wrapper
{
	width:720px;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:170px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#name
{
	height: 60px;
	width: 300px;
	margin:12px auto 0px auto;
}

#name h1
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#000000;
	text-align:center;
}

#name h2
{
	font-family:'Ebrima', serif;
	font-size:16px;
	font-weight:  lighter ;
	color:#7e7e7e;
	margin-top:2px;
	margin-left:64px;	
}


.menu
{
	display: block;
	height: 30px;
	width:447px;
	margin:110px auto;
}

.menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
}

a:hover
{
	color: #725225;
}

.menu h1
{	
	float:left;
	margin-right:40px;
}

.menu h2
{
	font-family:'Microsoft Yi Baiti', serif;
	font-size:36px;
	color:#725225;
	float:left;
	margin-right:40px;
}

.menu h3
{
	margin-right: 40px;
	float:left;
}

.menu h4
{
	float:left;
}

#back1
{   
	background: url('../goals/images/back1.png') no-repeat 0 0;
	background-size:cover;
	height:760px;
	margin-top:150px;
}	

#section1
{
	width: 720px;
	height:295px;
	margin:-720px auto 0px auto;
    text-align: left;
}

#line1
{
	width:191.5px;
	height:1px;
	margin-top:23px;
	margin-left:60px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left
}

h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight: lighter ;
	color:#ffffff;
	margin:0px auto auto 30px;
	float:left;
}

#line2
{
	width:191.5px;
	height:1px;
	margin-top:23px;
	margin-left:30px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#text-1
{
	width: 600px;
	margin:20px auto auto 60px;
    float: left;
}

p
{
	font-family:Ebrima;
	font-size:16px;
	color:#ffffff;
	float:left;
	text-align:justify;
}

#line3
{
	width:600px;
	height:1px;
	margin-top:30px;
	margin-left:60px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#section2
{
	width: 600px;
	margin:100px auto 0px auto;
    text-align: left;
}

#line1-1
{
	width:101px;
	height:1px;
	margin-top:18px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#line2-1
{
	width:101px;
	height:1px;
	margin-top:18px;
	margin-left:30px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left
}

#line3-1
{
	width:600px;
	height:1px;
	margin-top:30px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#text-2
{
	width: 600px;
	margin:25px auto auto 0px;
    float: left;
}

#text-2 a
{
	font-size:20px;
	font-weight:lighter;
	color:#e8e12f;
	text-decoration:none;
}

#text-2 a:hover
{
	color:#13120b;
}


#part1
{
	width:100%;
	min-width:720px;
	margin-top:45px;
}

#part1 p

{
	font-family:Ebrima;
	font-size:16px;
	color:#13120b;
	float:left;
	text-align:justify;
}


#logo1
{
	width:720px;
	height:30px;
	background: url('../goals/images/circle.png') no-repeat 0 0;
	margin:auto;
}

#logo1 h1
{
	font-family:Ebrima;
	font-size:24px;
	font-weight:lighter;
	color:#1da099;
	margin-left:50px;
	float:left;	
}

#part1text
{
	width:100%;
	min-width:720px;
	min-height:430px;
	margin:20px auto 0px auto;
	text-align:left;	
}

#text1
{
	width:720px;
	margin:auto;
	text-align:left;
}

h2
{
	font-family:Ebrima;
	font-size:18px;
	color:#000000;
	margin-left:0px;
	margin-bottom:7px;
	float:left;	
}

#sdl
{
	width:330px;
	height:190px;
	margin-left:0px;
	padding-top:10px;	
}

#it
{
	width:330px;
	margin-top:20px;
	margin-left:0px;
}

#tc
{
	width:310px;
	margin-top:-245px;
	float:right;
}

#bottom1
{
	border-top: 5px solid #7fc882;
	margin-top:20px;
}

#part2
{
	width:100%;
	min-width:720px;
	margin-top:35px;
}

#part2 p

{
	font-family:Ebrima;
	font-size:16px;
	color:#13120b;
	float:left;
	text-align:justify;
}

#logo2
{
	width:720px;
	height:30px;
	background: url('../goals/images/circle2.png') no-repeat 0 0;
	margin:auto;
}

#logo2 h1
{
	font-family:Ebrima;
	font-size:24px;
	font-weight:lighter;
	color:#1da099;
	margin-left:50px;
	float:left;	
}

#part2text
{
	
	width:100%;
	min-width:135px;
	min-height:640px;
	margin:20px auto 0px auto;
	text-align:left;	
}

#text2
{
	width:720px;
	margin:auto;
	text-align:left;
}

h2
{
	font-family:Ebrima;
	font-size:18px;
	font-weight:lighter;
	color:#000000;
	margin-left:0px;
	margin-bottom:7px;
	float:left;	
}

#dbp
{
	width:330px;
	height:300px;
	margin-top:10px;
	margin-left:0px;
	padding-top:10px;	
}

#fs
{
	width:330px;
	margin-top:40px;
	margin-left:0px;
}

#ufp
{
	width:310px;
	margin-top:-370px;
	float:right;
}

#bottom2
{
	border-top: 8px solid #eef53b;
	margin-top:20px;
}

#footerback
{
	width:100%;
	min-width:720px;
	background-color:#423826;
	height:100px;
	margin-top:0px;	
	
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:auto;
	padding-top:40px;
}