@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
   margin:0;
   padding:0;
   border: 0;
}

@font-face {
    font-family: 'Ebrima';
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot');
    src: url('http://chengqiying.com/showcase/M11/font/Ebrima.eot?#iefix') format('embedded-opentype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.woff') format('woff'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.ttf') format('truetype'),
	 url('http://chengqiying.com/showcase/M11/font/Ebrima.svg#Ebrima') format('svg');
    font-weight: normal;
    font-style: normal;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 100px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color: #bbdfd4;
    color:#ffffff;
}

body
{
	border-top: 20px solid rgb(77,197,173);
	background: url('../images/back.png') left top;
}

#all
{
	display:block;
}

.wrapper1
{
	width:680px;
	margin:auto;
    text-align: left;	
}
.wrapper
{
	width:720px;
	margin:auto;
    text-align: left;		
}

#logo
{
	background: url('../images/logo.png') no-repeat 0 0;
	height: 73px;
	width: 132px;
	margin:170px auto 0 auto;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-webkit-transform:scale(1);
	transform: scale(1);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

#logo:hover
{
	-webkit-transform:scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#name
{
	height: 60px;
	width: 300px;
	margin:12px auto 0px auto;
}

#name h1
{
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight:  lighter ;
	color:#000000;
	text-align:center;
}

#name h2
{
	font-family:'Ebrima', serif;
	font-size:16px;
	color:#7e7e7e;
	margin-top:2px;
	text-align:center;	
}


#menu
{
	display: block;
	height: 30px;
	width:680px;
	margin:110px auto;
}

#menu a
{
	color:rgb(31,178,170);
	text-decoration:none;
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight: lighter ;
}

a:hover
{
	color: #725225;
}

#v
{
	width:75px;
	height:39px;
	margin-left:132px;
	float:left;
}

#go h2
{	
	font-family:'Ebrima', serif;
	font-size:28px;
	font-weight: lighter ;
	color:#725225;
}

#go
{
	width:68px;
	height:39px;
	margin-left:35px;
	float:left;
}

#w
{
	width:78px;
	height:39px;
	margin-left:35px;
	float:left;
}

#gr
{
	width:90px;
	height:39px;
	margin-left:35px;
	float:left;
}

#back1
{   
	background: url('../goals/images/back1.png') no-repeat 0 0;
	background-size:cover;
	height:760px;
	margin-top:150px;
}	

#section1
{
	width: 600px;
	margin:0px auto 0px 40px;
    text-align: left;
    float:left;
}

#tit1
{
	width:600px;
	margin:0px auto;
	float:left;
}

#line1
{
	width:191.5px;
	height:1px;
	margin-top:48px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left
}

#where
{
	width:167px;
	height:28px;
	margin:30px auto auto 30px;
	float:left;
}

#where h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight: lighter ;
	color:#ffffff;
	text-align: center;
}

#line2
{
	width:191.5px;
	height:1px;
	margin-top:48px;
	margin-left:20px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#text-1
{
	width: 600px;
	margin:20px auto auto 0px;
    float: left;
}

p
{
	font-family:Ebrima;
	font-size:16px;
	color:#ffffff;
	float:left;
	text-align:justify;
}

#line3
{
	width:600px;
	height:1px;
	margin-top:30px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#section2
{
	width: 600px;
	margin:70px auto 0px 40px;
    text-align: left;
    float:left;
}

#tit2
{
	width:600px;
	height:28px;
	margin:0px auto;
	float:left;
}

#line1-1
{
	width:101px;
	height:1px;
	margin-top:18px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#what
{
	width:348px;
	height:28px;
	margin:0px auto auto 30px;
	float:left;
}

#what h5
{
	font-family:Ebrima;
	font-size:20px;
	font-weight: lighter ;
	color:#ffffff;
	text-align: center;
}

#line2-1
{
	width:101px;
	height:1px;
	margin-top:18px;
	margin-left:20px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left
}

#line3-1
{
	width:600px;
	height:1px;
	margin-top:30px;
	margin-left:0px;
	padding:0px;
	background-color:#e4dc9a;
	overflow:hidden;
	float:left;
}

#text-2
{
	width: 600px;
	margin:25px auto auto 0px;
    float: left;
}

#text-2 a
{
	font-size:20px;
	font-weight:lighter;
	color:#e8e12f;
	text-decoration:none;
}

#text-2 a:hover
{
	color:#13120b;
}

#part1back
{
	background:#fafbf0;
	background-size:cover;
	margin-top:0px;
	height:540px;
}

#part1
{
	width:720px;
	margin:0px auto;
	height:540px;
}

#logo1
{
	width:720px;
	height:30px;
	background: url('../goals/images/circle.png') no-repeat 0 0;
	margin:50px auto 0px auto;
	float:left;
}

#logo1pic
{
	width:30px;
	height:30px;
	background: url('../goals/images/circle.png') no-repeat 0 0;
	margin:0px auto 0px auto;
	float:left;
}

#logo1t
{
	width:54px;
	margin:0px auto 0px 20px;
	float:left ;
}

#logo1t h1
{
	font-family:Ebrima;
	font-size:24px;
	font-weight:lighter;
	color:#1da099;
}

#part1text
{
	width:720px;
	margin:0px auto 0px 0px;
	text-align:left;
}

#part1text h6
{
	font-family:Ebrima;
	font-size:18px;
	font-weight:lighter;
	color:#000000;
	margin-left:0px;
}

#part1text p

{
	font-family:Ebrima;
	font-size:16px;
	color:#13120b;
	float:left;
	text-align:justify;
}

#sdlit
{
	width:330px;
	margin:0px;
	float:left;
}
#sdl
{
	width:330px;
	margin-left:0px;
	margin-top:30px;
	float:left ;
}

#sdlti
{
	width:330px;
	margin:0px auto 0px 0px;
	float:left;
}

#sdlt
{
	width:330px;
	margin:5px auto 0px 0px;
	float:left;
}


#it
{
	width:330px;
	margin-top:30px;
	margin-left:0px;
	float:left;
}

#itti
{
	width:330px;
	margin:0px auto 0px 0px;
	float:left;
}

#itt
{
	width:330px;
	margin:5px auto 0px 0px;
	float:left;
}

#tc
{
	width:310px;
	margin-top:-375px;
	margin-left:410px;
	float:left;
}

#tcti
{
	width:330px;
	margin:0px auto 0px 0px;
	float:left;
}

#tct
{
	width:310px;
	margin:5px auto 0px 0px;
	float:left;
}

#bottom1
{
	border-top: 5px solid #7fc882;
	margin-top:0px;
}

#part2back
{
	background:#fafbf0;
	background-size:cover;
	margin-top:0px;
	height:820px;
}

#part2
{
	
	width:720px;
	margin:0px auto 0px auto;
}

#logo2
{
	width:720px;
	height:30px;
	background: url('../goals/images/circle2.png') no-repeat 0 0;
	margin:50px 0px 0px 0px;
	float:left;
}

#logo2pic
{
	width:30px;
	height:30px;
	float:left;
}

#logo2t
{
	width:54px;
	margin:0px auto 0px 20px;
	float:left;
}

#logo2t h1
{
	font-family:Ebrima;
	font-size:24px;
	font-weight:lighter;
	color:#1da099;	
}


#part2text
{
	
	width:720px;
	height:640px;
	margin:0px auto 0px auto;
	text-align:left;	
}

#part2text h6
{
	font-family:Ebrima;
	font-size:18px;
	font-weight:lighter;
	color:#000000;
	margin-left:0px;
}

#part2text p

{
	font-family:Ebrima;
	font-size:16px;
	color:#13120b;
	float:left;
	text-align:justify;
}

#dbpfs
{
	width:330px;
	margin:0px 0px 0px 0px;
	float:left
}
#dbp
{
	width:330px;
	margin-top:30px;
	margin-left:0px;
	float:left;
}

#dbpti
{
	width:330px;
	margin:0px auto 0px 0px;
	float:left;
}

#dbpt
{
	width:310px;
	margin:5px auto 0px 0px;
	float:left;
}

#fs
{
	width:330px;
	margin-top:30px;
	margin-left:0px;
	float:left;
}

#fsti
{
	width:330px;
	margin:0px auto 0px 0px;
	float:left;
}

#fst
{
	width:310px;
	margin:5px auto 0px 0px;
	float:left;
}

#ufp
{
	width:310px;
	margin-top:25px;
	float:right;
}

#ufpti
{
	width:330px;
	margin:0px auto 0px 0px;
	float:left;
}

#ufpt
{
	width:310px;
	margin:5px auto 0px 0px;
	float:left;
}

#bottom2
{
	border-top: 3px solid #4dc5ad;
	margin-top:0px;
}

#referenceback
{
	background:#fafbf0;
	width:100%;
	min-width:720px;
	height:100px;
	margin:0px auto;
}

#reference
{
	width:720px;
	height:100px;
	margin:0px auto;
}

#referpdp
{
	width:720px;
	height:25px;
	margin:15px auto 0xp auto;
	float:left;	
}

#referpdp h5
{
	font-family:Ebrima;
	font-size:18px;
	font-weight:lighter;
	color:#000000;
	padding-top:25px;
}

#referpdp a
{
	font-family:Ebrima;
	font-size:18px;
	font-weight:lighter;
	color:#959595;
	text-decoration:none;
}

#referpdp a:hover
{
	color:rgb(77,197,173);
}

#footerback
{
	width:100%;
	min-width:720px;
	background-color:#423826;
	height:80px;
	margin-top:0px;	
	
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:'Microsoft Yi Baiti', serif;
	font-size:16px;
	color:#eaeaea;
	margin:auto;
	padding-top:40px;
}