@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
  margin:0;
  padding:0;
  border: 0;
}

body
{
	
	font-family:'Droid Serif', serif;
	border-top-width: 8px;
    border-top-style: solid;
    border-top-color: rgb(0, 0, 0);
}

#all
{
	display:block;
}

#wrapper
{
	width: 980px;
	margin:auto;
    text-align: left;	
	
}

#logo
{
	background: url('images/logo.png') no-repeat 0 0;
	height: 94px;
	width: 172px;
	margin-top: 122px;
	margin:auto;
}