@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 150px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color:#D7D7CE;
	color:#ffffff;
}



#all
{
	display:block;
}

#border
{
	width: 100%;
	height:8px;
    style: solid;
    background-color: rgb(0, 0, 0);
	margin:0px 0px auot 0px;
	position: fixed;
}

#wrappera
{
	width: 1100px;
	margin:auto;	
}

#wrapper
{
	width: 980px;
	margin:auto;
    text-align: left;		
}

#guide
{
	height: 75px;
	position: fixed;
	margin:8px 0px auto 0px;
}

#homeguide
{
	width:75px;
	height:75px;
	margin-left:905px;
	background: url('../buer/images/homeguide.png') no-repeat 0 0;
}

#homeguide:hover
{
	opacity:0.6;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}

#content
{
	display:block;
	width:980px;
	margin-top:155px;
	float:left;
}

#title
{
	display:block;
	width: 980px;
	margin-top:0px;
	float:left;
}

#title h1
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
	margin-top:0px;
	position:absolute;
}

#title p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: lighter;
	margin-top: 32px;
	position:absolute;
	
}

#brief
{
    display:block;
	width: 980px;
	margin-top:90px;	
}

#briefpic
{
    height:414px;
	width: 720px;
	margin-top:0px;	
	border-top : 1px solid #4F4F4F;
	border-bottom : 1px solid #4F4F4F;
	border-left : 1px solid #4F4F4F;
	border-right : 1px solid #4F4F4F;
	float:left;
}

#briefimg
{
    height: 394px;
	width: 700px;
	margin:10px 10px auto;
	background: url('../cv/images/brief.png') no-repeat 0 0;
}

#brieftext
{
	height: 350px;
	width: 190px;
	margin-top: 0px;
	margin-left: 40px;
	float: left;
}

#brieftext p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1.5;	
}

#briefline
{
	border-top : 1px dashed #4F4F4F;
	width:180px;
	height:2px;
	margin-top:12px;
	float:left
}

#introduction
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#introduction h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;

}

#introductiontext
{
	height: 170px;
	width:650px;
	margin-top:15px;
	line-height:150%;	
}

#introductiontext p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;	
}

#approach
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#approach h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
}

#approachtext
{
	display:block;
	width:650px;
	margin-top:15px;	
}

#approachtext p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1.5;
}

#approachpic
{
	width:720px;
	height:737px;
	margin-top:30px;
	float:left;
	background:url('../cv/images/approach.jpg') no-repeat 0 0;
}

#context
{
	display:block;
	width: 980px;
	margin-top:70px;
	float:left;
}

#context h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
}

#context-text
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:150%;	
}

#context-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
}

#contextpic1
{
	width:720px;
	height:210px;
	margin-top:20px;
	float:left;
	background:url('../cv/images/context1.jpg') no-repeat 0 0;
}

#contextpic2
{
	width:720px;
	height:138px;
	float:left;
	background:url('../cv/images/context2.jpg') no-repeat 0 0;
}


#concept
{
	display:block;
	width: 980px;
	margin-top:70px;
	float:left;
}

#concept h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
}

#idea-pic
{
	width:720px;
	height:274px;
	margin-top:25px;
	float:left;
	background:url('../cv/images/idea.jpg') no-repeat 0 0;
}

#idea-text
{
	display:block;
	width:650px;
	margin-top:20px;
	line-height:150%;
	float:left;
}

#idea-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
}

#proto-text
{
	display:block;
	width:650px;
	margin-top:30px;
	line-height:150%;
	float:left;	
}

#proto-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
}

#post
{
	display:block;
	width:300px;
	margin-top:0px;
	float:left;
}

#post-title
{
	display:block;
	width:70px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#post-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#post-text
{
	display:block;
	width:300px;
	margin-top:10px;
	float:left;
}

#comment
{
	display:block;
	width:300px;
	margin-top:0px;
	margin-left:50px;
	float:left;
}

#comment-title
{
	display:block;
	width:115px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#comment-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#comment-text
{
	display:block;
	width:300px;
	margin-top:10px;
	float:left;
}

#check
{
	display:block;
	width:300px;
	margin-top:20px;
	float:left;
}

#check-title
{
	display:block;
	width:150px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#check-title h4
{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	font-weight:300;
}

#check-text
{
	display:block;
	width:300px;
	margin-top:10px;
	float:left;
}


#proto1-pic
{
	width:720px;
	height:453px;
	margin-top:20px;
	float:left;
	background:url('../cv/images/proto1.jpg') no-repeat 0 0;
}

#proto2-pic
{
	width:720px;
	height:355px;
	margin-top:0px;
	float:left;
	background:url('../cv/images/proto3.jpg') no-repeat 0 0;
}

#evaluate
{
	display:block;
	width: 980px;
	margin-top:80px;
	float:left;
}

#evaluate h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
}

#evaluate-text
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:150%;	
}

#evaluate-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	line-height:1.5;
}

#evaluatepic1
{
	width:720px;
	height:295px;
	margin-top:30px;
	float:left;
	background:url('../cv/images/eva_structure.jpg') no-repeat 0 0;
}

#evaluatepic2
{
	width:720px;
	height:120px;
	margin-top:10px;
	float:left;
	background:url('../cv/images/test.jpg') no-repeat 0 0;
}

#result
{
	display:block;
	width: 980px;
	margin-top:80px;
	float:left;
}

#result h2
{
	font-family: 'Open Sans', sans-serif;
	font-size:22px;
	font-weight:300;
}

#result-text
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:150%;	
}

#result-text p
{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
}

br 
{
	clear:both;
}

.frame 
{
	width:720px;
	height:468px;
	background-color:#FFFFFF;
	overflow:hidden;
	margin-top:35px;
	border-top : 1px solid #4F4F4F;
	border-bottom : 1px solid #4F4F4F;
	border-left : 1px solid #4F4F4F;
	border-right : 1px solid #4F4F4F;
}

.frame .list
{
	list-style:none;
	padding:0;
	margin:0;
	width:10000px;
}

.frame .list li 
{
	width:720px;
	height:484px;
	float:left;
}

.frame #big_list2
 {
	height:10000px;
}

.frame #big_list2 li 
{
	clear:both;
}

.frame #big_list4 
{
	height:10000px;
}

.frame #big_list4 li 
{
	clear:both;
}
	
.l_frame 
{
	width:260px;
	height:0px;
	background-color:#CCC;
	overflow:hidden;
	float:left;
}

.l_frame .list 
{
	list-style:none;
	padding:0;
	margin:0;
	width:10000px;
}

.l_frame .list li
 {
	float:left;
	width:76px;
	height:76px;
	cursor:pointer;
	border:solid 2px #cc3910;
}

.l_frame .list .cur 
{
	border:solid 2px #0FF;
}

.l_frame2 
{
	height:208px;
	width:80px;
	background-color:#CCC;
	overflow:hidden;
}

.l_frame2 .list {
	list-style:none;
	padding:0;
	margin:0;
	height:10000px;
}

.l_frame2 .list li
{
	width:76px;
	height:76px;
	cursor:pointer;
	border:solid 2px #cc3910;
}

.l_frame2 .list .cur 
{
	border:solid 2px #0FF;
}
	
.slide_nav 
{
	height:0px;
	width:16px;	
	display:block;
	float:left;
	background-color:#2A0;
	text-indent:-10000px;		
}

.slide_nav2 
{
	width:0px;
	height:16px;
	display:block;
	background-color:#2A0;
	text-indent:-10000px;	
}

.footer, .push
{
    width:100%;
	min-width:1100px;
	background-color:#F4F4F4;
	height:80px;
	margin-top:120px;
	float:left;
}

#footertext
{
	width:720px;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	color:#575757;
	margin:auto;
	padding-top:30px;
}
