@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Calibri;
	font-size: 18px;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 150px;
    text-decoration: none;
    color: #ffffff;
    background-color: #e6e6e6;
    font-size: 20px;
    font-family: Ebrima;
    width:60px;
    height:47px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
	/*padding: 1em;*/
	text-align: center;
	padding-top: 13px;
    display: none;
}

.back-to-top:hover {    
    background-color:#D7D7CE;
	color:#ffffff;
}



#all
{
	display:block;
}

#border
{
	width: 100%;
	height:8px;
    style: solid;
    background-color: rgb(0, 0, 0);
	margin:0px 0px auot 0px;
	position: fixed;
}

#wrappera
{
	width: 1050px;
	margin:auto;	
}

#wrapper
{
	width: 980px;
	margin:auto;
    text-align: left;		
}

#guide
{
	height: 75px;
	position: fixed;
	margin:8px 0px auto 0px;
}

#homeguide
{
	width:75px;
	height:75px;
	margin-left:905px;
	background: url('../feedback/images/homeguide.png') no-repeat 0 0;
}

#homeguide:hover
{
	opacity:0.6;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	-ms-transition: opacity 500ms;
}
#levo-content
{
	display:block;
	width:980px;
	margin-top:155px;
	float:left;
}

#levo-title
{
	display:block;
	width: 980px;
	margin-top:0px;
	float:left;
}

#levo-title h1
{
	font-family:Calibri;
	font-size:26px;
	font-weight:lighter;
	margin-top:0px;
	position:absolute;
}

#levo-title h2
{
	font-family:Calibri;
	font-size:18px;
	font-weight:lighter;
	margin-top:0px;
	margin-left:5px;

}

#levo-title p
{
	font-family: Calibri;
	font-size: 16px;
	font-weight: lighter;
	margin-top: 32px;
	position:absolute;
	
}

#levobrief
{
    display:block;
	width: 980px;
	margin-top:90px;	
}

#levobriefpic
{
    height:414px;
	width: 720px;
	margin-top:0px;	
	border-top : 1px solid #4F4F4F;
	border-bottom : 1px solid #4F4F4F;
	border-left : 1px solid #4F4F4F;
	border-right : 1px solid #4F4F4F;
	float:left;
}

#levobriefimg
{
    height: 350px;
	width: 720px;
	margin:10px 10px auto;
}

#levobrieftext
{
	height: 350px;
	width: 190px;
	margin-top: 0px;
	margin-left: 40px;
	float: left;
}

#levobrieftext p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;	
}

#levobriefline
{
	border-top : 1px dashed #4F4F4F;
	width:195px;
	height:2px;
	margin-top:12px;
	float:left
}

#introduction
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#introduction h2
{
	font-family:Calibri;
	font-size:24px;

}

#introductiontext
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:120%;	
}

#introductiontext p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;	
}

#fieldresearch
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#fieldresearch h2
{
	font-family:Calibri;
	font-size:24px;

}

#fieldresearchtext
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:120%;	
}

#fieldresearchtext p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
}

#fieldresearchpic
{
	width:720px;
	height:163px;
	margin-top:20px;
	float:left;
}

#pic-1
{
	width:240px;
	height:163px;
	background:url('../levo/images/research1.png') no-repeat 0 0;
	float:left;
}

#pic-2
{
	width:240px;
	height:163px;
	background:url('../levo/images/research2.png') no-repeat 0 0;
	float:left;
}


#pic-3
{
	width:240px;
	height:163px;
	background:url('../levo/images/research3.png') no-repeat 0 0;
	float:left;
}

#research-analysis
{
	display:block;
	width:720px;
	margin-top:20px;
	float:left;
}

#analysis-trend
{
	display:block;
	width:335px;
	margin-top:10px;
	float:left;
}

#ana-trend-title
{
	display:block;
	width:70px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#ana-trend-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#analysis-trend p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#analysis-kitchen
{
	display:block;
	width:335px;
	margin-top:10px;
	margin-left:50px;
	float:left;
}

#ana-kitchen-title
{
	display:block;
	width:160px;
	border-bottom:1px dashed #2A2A2A;
}

#ana-kitchen-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#analysis-kitchen p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#analysis-group
{
	display: block;
	width: 335px;
	margin-top: 20px;
	float: left;
	clear: left;
}

#ana-group-title
{
	display:block;
	width:133px;
	float:left;
	border-bottom:1px dashed #2A2A2A;

}

#ana-group-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#analysis-group p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#opportunity
{
	display: block;
	width: 720px;
	margin-top: 20px;
	float: left;
}

#opportunity-title
{
	display:block;
	width:125px;
	float:left;
	border-bottom:1px dashed #2A2A2A;

}

#opportunity-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#ideationtext
{
	display:block;
	width:650px;
	margin-top:15px;
	line-height:120%;	
}

#opportunitytext p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#opportunity-pic
{
	height:479px;
	width:720px;
	margin-top:20px;
	background:url('../levo/images/opp.png') no-repeat 0 0;
	float:left;	
}

#ideation
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#ideation h2
{
	font-family:Calibri;
	font-size:24px;
}

#ideation-pic
{
	height:215px;
	width:720px;
	margin-top:20px;	
}

#ideation-pic-1
{
	height:215px;
	width:360px;
	background:url('../levo/images/ideation2.png') no-repeat 0 0;
	float:left;	
}

#ideation-pic-2
{
	height:215px;
	width:360px;
	background:url('../levo/images/ideation1.png') no-repeat 0 0;
	float:left;	
}

#ideationtext
{
	display:block;
	width:720px;
	margin-top:15px;
	line-height:120%;	
}

#ideationtext p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;	
}

#product
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#producttext
{
	display:block;
	width:720px;
	margin-top:25px;
	line-height:120%;
}

#product h2
{
	font-family:Calibri;
	font-size:24px;
}

#product-pic
{
	height:209px;
	width:720px;
	margin-top:15px;
	background:url('../levo/images/concept.png') no-repeat 0 0;	
}

#business
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#business h2
{
	font-family:Calibri;
	font-size:24px;
}

#business-pic
{
	height:282px;
	width:720px;
	margin-top:20px;
	background:url('../levo/images/model.png') no-repeat 0 0;
	float:left;	
}

#businesstext
{
	display:block;
	width: 720px;
	margin-top:20px;
	float:left;;
}

#business-vogel
{
	display:block;
	width:335px;
	margin-top:30px;
	float:left;
}

#business-vogel-title
{
	display:block;
	width:75px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#business-vogel-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#business-vogel p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#business-ikea
{
	display:block;
	width:335px;
	margin-top:30px;
	margin-left:50px;
	float:left;
}

#business-ikea-title
{
	display:block;
	width:57px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#business-ikea-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#business-ikea p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#business-future
{
	display: block;
	width: 335px;
	margin-top: 30px;
	float: left;
	clear: left;
}

#business-future-title
{
	display:block;
	width:117px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#business-future-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#business-future p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#story
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#story h2
{
	font-family:Calibri;
	font-size:24px;
}

#story-pic
{
	height:327px;
	width:720px;
	margin-top:15px;
	float:left;
	background:url('../levo/images/journey.png') no-repeat 0 0;	
}

#storytext
{
	display:block;
	width:720px;
	line-height:120%;
	float:left;	
}

#storytext p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#story-user
{
	display:block;
	width:335px;
	margin-top:30px;
	float:left;
}

#story-user-title
{
	display:block;
	width:135px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#story-user-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#user-title-pic
{
	height:30px;
	width:30px;
	background:url('../levo/images/user.png') no-repeat 0 0;
	float:left;
	margin-right:5px;
}

#story-user p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#story-market
{
	display:block;
	width:335px;
	margin-top:30px;
	margin-left:50px;
	float:left;
}

#story-market-title
{
	display:block;
	width:180px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#story-market-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#story-market p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#market-title-pic
{
	height:30px;
	width:30px;
	background:url('../levo/images/market.png') no-repeat 0 0;
	float:left;
	margin-right:5px;
}


#story-shop
{
	display:block;
	width:335px;
	margin-top:30px;
	float:left;
}

#story-shop-title
{
	display:block;
	width:191px;
	float:left;
	border-bottom:1px dashed #2A2A2A;
}

#shop-title-pic
{
	height:30px;
	width:30px;
	background:url('../levo/images/shop.png') no-repeat 0 0;
	float:left;
	margin-right:5px;
}

#story-shop-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#story-shop p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#story-brand
{
	display:block;
	width:335px;
	margin-top:30px;
	margin-left:50px;
	float:left;
}

#story-brand-title
{
	display: block;
	width: 105px;
	float: left;
	border-bottom: 1px dashed #2A2A2A;
	clear: left;
}

#brand-title-pic
{
	height:30px;
	width:30px;
	background:url('../levo/images/brand.png') no-repeat 0 0;
	float:left;
	margin-right:5px;
}

#story-brand-title h4
{
	font-family:Calibri;
	font-size:20px;
	font-weight:lighter;
}

#story-brand p
{
	font-family:Calibri;
	font-size:16px;
	font-weight:lighter;
	margin-top:10px;
	float:left;
}

#interface
{
	display:block;
	width: 980px;
	margin-top:50px;
	float:left;
}

#interface h2
{
	font-family:Calibri;
	font-size:24px;
}

br 
{
	clear:both;
}

.frame 
{
	width:720px;
	height:447px;
	background-color:#CCC;
	overflow:hidden;
	margin-top:20px;
	border-top : 1px solid #4F4F4F;
	border-bottom : 1px solid #4F4F4F;
	border-left : 1px solid #4F4F4F;
	border-right : 1px solid #4F4F4F;
}

.frame .list
{
	list-style:none;
	padding:0;
	margin:0;
	width:10000px;
}

.frame .list li 
{
	width:720px;
	height:447px;
	float:left;
}

.frame #big_list2
 {
	height:10000px;
}

.frame #big_list2 li 
{
	clear:both;
}

.frame #big_list4 
{
	height:10000px;
}

.frame #big_list4 li 
{
	clear:both;
}
	
.l_frame 
{
	width:260px;
	height:0px;
	background-color:#CCC;
	overflow:hidden;
	float:left;
}

.l_frame .list 
{
	list-style:none;
	padding:0;
	margin:0;
	width:10000px;
}

.l_frame .list li
 {
	float:left;
	width:76px;
	height:76px;
	cursor:pointer;
	border:solid 2px #cc3910;
}

.l_frame .list .cur 
{
	border:solid 2px #0FF;
}

.l_frame2 
{
	height:208px;
	width:80px;
	background-color:#CCC;
	overflow:hidden;
}

.l_frame2 .list {
	list-style:none;
	padding:0;
	margin:0;
	height:10000px;
}

.l_frame2 .list li
{
	width:76px;
	height:76px;
	cursor:pointer;
	border:solid 2px #cc3910;
}

.l_frame2 .list .cur 
{
	border:solid 2px #0FF;
}
	
.slide_nav 
{
	height:0px;
	width:16px;	
	display:block;
	float:left;
	background-color:#2A0;
	text-indent:-10000px;		
}

.slide_nav2 
{
	width:0px;
	height:16px;
	display:block;
	background-color:#2A0;
	text-indent:-10000px;	
}

.footer, .push
{
    width:100%;
	min-width:720px;
	background-color:#F4F4F4;
	height:80px;
	margin-top:30px;
	float:left;
}

#footertext
{
	width:720px;
	text-align:center;
	font-family:Calibri;
	font-size:14px;
	color:#575757;
	margin:auto;
	padding-top:30px;
}
