#u325-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u326-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u327-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u328-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1761-4,#u1770-4,#u1776-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1760-7,#u1769-7,#u1773-7,#u329-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

