#u186-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u187-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u188-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u189-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u191-3,#u191-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u191,#u191-6,#u207-4,#u216-4,#u217-4,#u218-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

