#u300-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u301-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u302-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u303-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1296-4,#u342-4,#u344-4,#u337-4,#u336-4,#u338-8,#u338-9,#u338-11,#u455-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u335-4,#u1296-2,#u342-2,#u344-2,#u334-4,#u337-2,#u336-2,#u338-2,#u333-5,#u333-9,#u333-10
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u333-16,#u305-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

