#u1608-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1622-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1620-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1597-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1602-6,#u1623-7,#u1673-7,#u1593-9,#u1628-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1634-4,#u1671-4,#u1609-6:hover p,#u1609-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1637-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1627-6,#u1611-6,#u1598-4,#u1596-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

