#u1270-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1271-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1272-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1273-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1086-6,#u1126-7,#u1097-6,#u1095-6,#u1106-6,#u1115-7,#u1076-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1098-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1128-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1199-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1202-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1073-4,#u1117-4,#u1082-4,#u1089-4,#u1100-4,#u1091-4,#u1112-4,#u1103-6:hover p,#u1103-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1113-4,#u1111-6,#u1079-6,#u1104-4,#u1130-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

