#u325-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u326-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u327-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u328-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1770-4,#u1776-4,#u1761-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1760-13,#u1769-4,#u1877-24,#u1773-4,#u1883-17,#u1888-4,#u329-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

