#u649-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u650-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u651-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u652-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u809-4,#u810-7,#u815-6,#u812-8,#u818-6,#u816-4,#u990-12,#u1034-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1036-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1037-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u819-4,#u821-4,#u880-4,#u941-4,#u937-4,#u926-4,#u927-4,#u1033-4,#u771-6:hover p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u771-6:active p,#u771-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u768-4,#u769-6,#u770-6,#u772-4,#u648-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

