#u1608-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1622-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1620-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1597-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1602-6,#u1623-7,#u1603-4,#u1600-6,#u1593-10,#u1607-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1640-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1633-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1634-4,#u1624-4,#u1613-4,#u1590-4,#u1637-4,#u1615-4,#u1609-6:hover p,#u1609-6
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1628-4,#u1627-6,#u1611-6,#u1598-4,#u1596-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

