#u1358-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1364-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1341-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1355-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1349-6,#u1330-9,#u1361-6,#u1329-6,#u1310-7,#u1338-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1314-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1340-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1357-4,#u1345-4,#u1317-4,#u1344-4,#u1360-4,#u1350-4,#u1356-6:hover p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1334-4,#u1331-6,#u1326-6,#u1356-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1327-4,#u1335-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

