#u1505-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1484-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1471-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1474-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1456-6,#u1477-9,#u1460-4,#u1499-4,#u1488-7,#u1494-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1469-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1500-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1457-4,#u1466-4,#u1464-4,#u1480-4,#u1485-4,#u1501-4,#u1490-6:hover p
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u1459-4,#u1461-6,#u1491-6,#u1490-6
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1475-4,#u1502-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

