.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu1313
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -64px;
	left: -100px;
}

#u1313
{
	z-index: 2;
	width: 1180px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1313_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
	padding-top: 61px;
	padding-bottom: 95px;
}

#pu1358-4
{
	width: 0.01px;
	left: 316px;
	position: relative;
}

#u1358-4
{
	z-index: 132;
	width: 58px;
	min-height: 28px;
	border-color: #5DCE77;
	background-color: transparent;
	color: #5DCE77;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1358-4:hover
{
	border-style: solid;
	border-color: #5DCE77;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 58px;
	margin: 7px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1364-4
{
	z-index: 136;
	width: 57px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5DCE77;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 110px;
}

#u1364-4:hover
{
	border-style: solid;
	border-color: #5DCE77;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 57px;
	margin: 7px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1324
{
	z-index: 148;
	width: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u1324:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px -10000px 0px 0px;
}

#u1341-4
{
	z-index: 140;
	width: 61px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #052252;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 378px;
}

#u1341-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 7px -10000px 0px 0px;
}

#u1355-4
{
	z-index: 144;
	width: 75px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #5DCE77;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 490px;
}

#u1355-4:hover
{
	border-style: solid;
	border-color: #5DCE77;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 75px;
	margin: 7px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1349-6
{
	z-index: 50;
	width: 593px;
	min-height: 80px;
	color: #181816;
	font-size: 24px;
	text-align: center;
	line-height: 36px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 293px;
	margin-top: 284px;
	position: relative;
}

#u1357-4
{
	z-index: 89;
	width: 123px;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	left: 528px;
	margin-top: 130px;
	position: relative;
}

#u1330-7
{
	z-index: 56;
	width: 406px;
	min-height: 409px;
	font-size: 16px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 387px;
	margin-top: 30px;
	position: relative;
}

#u1354
{
	z-index: 7;
	width: 406px;
	height: 268px;
	border-style: none;
	border-color: transparent;
	left: 387px;
	margin-top: 22px;
	position: relative;
	background: #FFFFFF url("../images/qq%e6%88%aa%e5%9b%be20140309141243-u1354-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1322-3
{
	z-index: 117;
	width: 5px;
	left: 1000px;
	margin-top: 102px;
	position: relative;
}

#pu1353
{
	width: 0.01px;
	left: 180px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u1353
{
	z-index: 130;
	width: 275px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9DE9D9;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u1345-4
{
	z-index: 75;
	width: 199px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 311px;
}

#u1359
{
	z-index: 131;
	width: 275px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #9DE9D9;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 545px;
}

#pu1315
{
	width: 0.01px;
	left: 234px;
	margin-top: 88px;
	position: relative;
}

#u1315
{
	z-index: 105;
	width: 252px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1316
{
	z-index: 106;
	width: 250px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6CE3F;
	background-color: transparent;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u1317-4
{
	z-index: 107;
	width: 217px;
	min-height: 43px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 16px;
}

#u1342
{
	z-index: 111;
	width: 226px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 473px;
}

#u1343
{
	z-index: 112;
	width: 224px;
	border-width: 1px;
	border-style: solid;
	border-color: #E6CE3F;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1344-4
{
	z-index: 113;
	width: 183px;
	min-height: 47px;
	color: #000000;
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#pu1361-6
{
	width: 0.01px;
	left: 180px;
	margin-top: 36px;
	position: relative;
}

#u1361-6
{
	z-index: 69;
	width: 360px;
	min-height: 435px;
	line-height: 24px;
	font-size: 16px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1329-6
{
	z-index: 63;
	width: 360px;
	min-height: 360px;
	line-height: 24px;
	font-size: 16px;
	text-align: justify;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 460px;
}

#pu1311
{
	width: 0.01px;
	left: 180px;
	margin-top: 20px;
	position: relative;
}

#u1311
{
	z-index: 80;
	width: 360px;
	height: 158px;
	border-color: #95D1C9;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/2-u1311-fr.png") no-repeat center top;
	background-size: cover !important;
}

#u1336
{
	z-index: 79;
	width: 360px;
	height: 158px;
	border-color: #95D1C9;
	position: relative;
	margin-right: -10000px;
	left: 460px;
	background: #FFFFFF url("../images/1-u1336-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#pu1328
{
	width: 0.01px;
	left: 180px;
	margin-top: 160px;
	position: relative;
}

#u1328
{
	z-index: 3;
	width: 201px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #F6C266;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
}

#u1360-4
{
	z-index: 81;
	width: 370px;
	min-height: 35px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u1337
{
	z-index: 4;
	width: 200px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #F6C266;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 620px;
}

#u1310-10
{
	z-index: 120;
	width: 406px;
	min-height: 386px;
	line-height: 24px;
	font-size: 16px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 387px;
	margin-top: 49px;
	position: relative;
}

#pu1339
{
	width: 0.01px;
	left: 180px;
	margin-top: 181px;
	position: relative;
}

#u1339
{
	z-index: 5;
	width: 321px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #96F3FB;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u1350-4
{
	z-index: 85;
	width: 112px;
	min-height: 32px;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 354px;
}

#u1348
{
	z-index: 6;
	width: 323px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #96F3FB;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 497px;
}

#pu1338-4
{
	width: 0.01px;
	left: 438px;
	margin-top: 37px;
	position: relative;
}

#u1338-4
{
	z-index: 93;
	width: 65px;
	min-height: 23px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u1338-4:hover
{
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1338-4:active
{
	border-style: solid;
	border-color: #757575;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 65px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1338-4.MuseLinkActive
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u1338-4:active p
{
	color: #757575;
	visibility: inherit;
}

#u1314-4
{
	z-index: 97;
	width: 74px;
	min-height: 23px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 115px;
}

#u1314-4:hover
{
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 74px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1314-4:active
{
	border-style: solid;
	border-color: #757575;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 74px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1314-4.MuseLinkActive
{
	border-style: none;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#u1338-4.MuseLinkActive p,#u1314-4:active p
{
	color: #757575;
	visibility: inherit;
}

#u1340-4
{
	z-index: 101;
	width: 46px;
	min-height: 24px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u1340-4:hover
{
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 46px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1340-4:active
{
	border-style: solid;
	border-color: #757575;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 46px;
	margin: 0px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1340-4.MuseLinkActive
{
	border-style: none;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u1314-4.MuseLinkActive p,#u1340-4:active p
{
	color: #757575;
	visibility: inherit;
}

#u1340-4.MuseLinkActive p
{
	color: #757575;
	visibility: inherit;
}

#u1346
{
	z-index: 8;
	width: 1180px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	background-color: #4C6259;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
}

#u1346:hover
{
	background-color: #4C6259;
	margin: 126px -10000px 0px 0px;
}

#u1332
{
	z-index: 14;
	width: 76px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,74,-2);
	-ms-transform: matrix(0,1,-1,0,74,-2);
	-o-transform: matrix(0,1,-1,0,74,-2);
	transform: matrix(0,1,-1,0,74,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 331px;
}

#u1305
{
	z-index: 16;
	width: 76px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,73,-3);
	-ms-transform: matrix(0,1,-1,0,73,-3);
	-o-transform: matrix(0,1,-1,0,73,-3);
	transform: matrix(0,1,-1,0,73,-3);
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 661px;
}

#u1305:hover
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	margin: 154px -10000px 0px 0px;
}

#u1320
{
	z-index: 18;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,73,-2);
	-ms-transform: matrix(0,1,-1,0,73,-2);
	-o-transform: matrix(0,1,-1,0,73,-2);
	transform: matrix(0,1,-1,0,73,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 552px;
}

#u1351
{
	z-index: 20;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.15;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
	filter: alpha(opacity=15);
	-webkit-transform: matrix(0,1,-1,0,73,-2);
	-ms-transform: matrix(0,1,-1,0,73,-2);
	-o-transform: matrix(0,1,-1,0,73,-2);
	transform: matrix(0,1,-1,0,73,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 442px;
}

#u1362
{
	z-index: 22;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,74,-1);
	-ms-transform: matrix(0,1,-1,0,74,-1);
	-o-transform: matrix(0,1,-1,0,74,-1);
	transform: matrix(0,1,-1,0,74,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 773px;
}

#u1332:hover,#u1320:hover,#u1351:hover,#u1362:hover
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	margin: 153px -10000px 0px 0px;
}

#u1334-4
{
	z-index: 24;
	width: 49px;
	min-height: 36px;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 344px;
}

#u1331-6
{
	z-index: 28;
	width: 40px;
	min-height: 36px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 459px;
}

#u1326-6
{
	z-index: 34;
	width: 40px;
	min-height: 35px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 570px;
}

#u1356-6
{
	z-index: 40;
	width: 58px;
	min-height: 26px;
	background-color: transparent;
	color: #000000;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 670px;
}

#u1356-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 168px -10000px 0px 0px;
}

#u1356-6:hover p
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1327-4
{
	z-index: 46;
	width: 30px;
	min-height: 20px;
	line-height: 18px;
	font-size: 12px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 795px;
}

#u1323
{
	z-index: 9;
	width: 1180px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F1;
	padding-bottom: 38px;
	position: relative;
	margin-bottom: -37px;
	margin-right: -10000px;
	margin-top: 3233px;
	left: -100px;
}

#u1323_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u1335-4
{
	z-index: 10;
	width: 120px;
	min-height: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 533px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -3232px;
}

