.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 980px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu1606
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -64px;
	left: -100px;
}

#u1606
{
	z-index: 3;
	width: 1180px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1606_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
	padding-top: 61px;
	padding-bottom: 105px;
}

#pu1608-4
{
	width: 0.01px;
	left: 316px;
	position: relative;
}

#u1608-4
{
	z-index: 103;
	width: 58px;
	min-height: 28px;
	border-color: #5DCE77;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #5DCE77;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u1608-4:hover
{
	border-style: solid;
	border-color: #5DCE77;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 58px;
	margin: 7px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1622-4
{
	z-index: 107;
	width: 57px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #5DCE77;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 110px;
}

#u1622-4:hover
{
	border-style: solid;
	border-color: #5DCE77;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 57px;
	margin: 7px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1638
{
	z-index: 119;
	width: 66px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u1638:hover
{
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	margin: 0px -10000px 0px 0px;
}

#u1620-4
{
	z-index: 111;
	width: 61px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #052252;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 378px;
}

#u1620-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	margin: 7px -10000px 0px 0px;
}

#u1597-4
{
	z-index: 115;
	width: 75px;
	min-height: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	color: #5DCE77;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 490px;
}

#u1597-4:hover
{
	border-style: solid;
	border-color: #5DCE77;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 27px;
	width: 75px;
	margin: 7px -10000px -1px 0px;
	border-width: 0px 0px 1px;
}

#u1602-6
{
	z-index: 57;
	width: 593px;
	min-height: 80px;
	font-size: 24px;
	line-height: 36px;
	color: #181816;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 293px;
	margin-top: 284px;
	position: relative;
}

#pu1601
{
	width: 0.01px;
	left: 180px;
	margin-top: 130px;
	position: relative;
}

#u1601
{
	z-index: 101;
	width: 190px;
	height: 2px;
	border-color: #000000;
	background-color: #9DE9D9;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u1634-4
{
	z-index: 78;
	width: 405px;
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u1665
{
	z-index: 102;
	width: 190px;
	height: 2px;
	border-color: #000000;
	background-color: #9DE9D9;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 630px;
}

#u1623-7
{
	z-index: 63;
	width: 510px;
	min-height: 364px;
	font-size: 16px;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 335px;
	margin-top: 50px;
	position: relative;
}

#u1594
{
	z-index: 8;
	width: 509px;
	height: 310px;
	border-width: 1px;
	border-style: solid;
	border-color: #626262;
	left: 335px;
	margin-top: 38px;
	position: relative;
	background: #FFFFFF url("../images/sportfolio-u1594-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1642-3
{
	z-index: 82;
	width: 5px;
	left: 1000px;
	margin-top: 22px;
	position: relative;
}

#pu1670
{
	width: 0.01px;
	left: 180px;
	margin-top: 120px;
	position: relative;
}

#u1670
{
	z-index: 5;
	width: 180px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #F6C266;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1671-4
{
	z-index: 74;
	width: 378px;
	min-height: 65px;
	font-size: 24px;
	line-height: 31px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u1672
{
	z-index: 7;
	width: 180px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #F6C266;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 640px;
}

#u1673-7
{
	z-index: 94;
	width: 510px;
	min-height: 386px;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 335px;
	margin-top: 60px;
	position: relative;
}

#u1674
{
	z-index: 9;
	width: 250px;
	height: 197px;
	border-style: solid;
	border-color: #626262;
	left: 335px;
	margin-top: 40px;
	position: relative;
	border-width: 0px 0px 1px 1px;
	background: #FFFFFF url("../images/1403635106262screencapture-u1674-fr.jpg") no-repeat left bottom;
	background-size: cover !important;
}

#u1630
{
	z-index: 4;
	width: 250px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #F6C266;
	left: 180px;
	margin-top: 174px;
	position: relative;
}

#u1599
{
	z-index: 6;
	width: 250px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #F6C266;
	left: 750px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u1593-9
{
	z-index: 85;
	width: 515px;
	min-height: 458px;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	left: 335px;
	margin-top: 69px;
	position: relative;
}

#u1593-2
{
	font-style: italic;
}

#u1691
{
	z-index: 10;
	width: 515px;
	height: 252px;
	border-style: solid;
	border-color: #626262;
	left: 335px;
	margin-top: 41px;
	position: relative;
	border-width: 0px 0px 1px;
	background: #FFFFFF url("../images/1-u1691-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1920
{
	z-index: 121;
	width: 276px;
	left: 452px;
	margin-top: 517px;
	position: relative;
}

#u1681
{
	z-index: 11;
	width: 260px;
	height: 197px;
	border-style: solid;
	border-color: #626262;
	position: relative;
	margin-right: -10000px;
	margin-top: 2092px;
	left: 585px;
	border-width: 0px 1px 1px 0px;
	background: #FFFFFF url("../images/1403636069826screencapture-u1681-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1692
{
	z-index: 12;
	width: 260px;
	height: 197px;
	border-style: solid;
	border-color: #626262;
	position: relative;
	margin-right: -10000px;
	margin-top: 3286px;
	left: 335px;
	border-width: 0px 0px 1px;
	background: #FFFFFF url("../images/4-u1692-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1714
{
	z-index: 13;
	width: 260px;
	height: 197px;
	border-style: solid;
	border-color: #626262;
	position: relative;
	margin-right: -10000px;
	margin-top: 3483px;
	left: 335px;
	border-width: 0px 0px 1px;
	background: #FFFFFF url("../images/5-u1714-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1705
{
	z-index: 14;
	width: 260px;
	height: 197px;
	border-style: solid;
	border-color: #626262;
	position: relative;
	margin-right: -10000px;
	margin-top: 3286px;
	left: 590px;
	border-width: 0px 1px 0px 0px;
	background: #FFFFFF url("../images/2-u1705-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1715
{
	z-index: 15;
	width: 260px;
	height: 197px;
	border-style: solid;
	border-color: #626262;
	position: relative;
	margin-right: -10000px;
	margin-top: 3483px;
	left: 590px;
	border-width: 0px 0px 1px;
	background: #FFFFFF url("../images/7-u1715-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u1610
{
	z-index: 16;
	width: 1180px;
	height: 126px;
	border-style: none;
	border-color: transparent;
	background-color: #4C6259;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
}

#u1610:hover
{
	background-color: #4C6259;
	margin: 126px -10000px 0px 0px;
}

#u1616
{
	z-index: 21;
	width: 76px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.97;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";
	filter: alpha(opacity=97);
	-webkit-transform: matrix(0,1,-1,0,74,-2);
	-ms-transform: matrix(0,1,-1,0,74,-2);
	-o-transform: matrix(0,1,-1,0,74,-2);
	transform: matrix(0,1,-1,0,74,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 331px;
}

#u1618
{
	z-index: 23;
	width: 76px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,73,-3);
	-ms-transform: matrix(0,1,-1,0,73,-3);
	-o-transform: matrix(0,1,-1,0,73,-3);
	transform: matrix(0,1,-1,0,73,-3);
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
	left: 661px;
}

#u1618:hover
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	margin: 154px -10000px 0px 0px;
}

#u1625
{
	z-index: 25;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,73,-2);
	-ms-transform: matrix(0,1,-1,0,73,-2);
	-o-transform: matrix(0,1,-1,0,73,-2);
	transform: matrix(0,1,-1,0,73,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 552px;
}

#u1604
{
	z-index: 27;
	width: 75px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,73,-2);
	-ms-transform: matrix(0,1,-1,0,73,-2);
	-o-transform: matrix(0,1,-1,0,73,-2);
	transform: matrix(0,1,-1,0,73,-2);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 442px;
}

#u1616:hover,#u1625:hover,#u1604:hover
{
	opacity: 0.45;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";
	filter: alpha(opacity=45);
	margin: 153px -10000px 0px 0px;
}

#u1631
{
	z-index: 29;
	width: 75px;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-webkit-transform: matrix(0,1,-1,0,74,-1);
	-ms-transform: matrix(0,1,-1,0,74,-1);
	-o-transform: matrix(0,1,-1,0,74,-1);
	transform: matrix(0,1,-1,0,74,-1);
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	left: 773px;
}

#u1628-4
{
	z-index: 31;
	width: 49px;
	min-height: 36px;
	background-color: transparent;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 344px;
}

#u1628-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 36px;
	margin: 168px -10000px 0px 0px;
}

#u1628-4:hover p
{
	color: #000000;
	visibility: inherit;
}

#u1627-6
{
	z-index: 35;
	width: 40px;
	min-height: 36px;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 459px;
}

#u1611-6
{
	z-index: 41;
	width: 40px;
	min-height: 35px;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 570px;
}

#u1609-6
{
	z-index: 47;
	width: 58px;
	min-height: 26px;
	background-color: transparent;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 670px;
}

#u1609-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	margin: 168px -10000px 0px 0px;
}

#u1609-6:hover p
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1598-4
{
	z-index: 53;
	width: 30px;
	min-height: 13px;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 795px;
}

#u1637-4
{
	z-index: 70;
	width: 370px;
	min-height: 35px;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 2450px;
	left: 405px;
}

#u1588
{
	z-index: 2;
	width: 1180px;
	border-style: none;
	border-color: transparent;
	background-color: #F2F2F1;
	padding-bottom: 38px;
	position: relative;
	margin-bottom: -37px;
	margin-right: -10000px;
	margin-top: 3906px;
	left: -100px;
}

#u1588_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	position: relative;
	left: -100px;
}

#u1596-4
{
	z-index: 17;
	width: 120px;
	min-height: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 533px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -3905px;
}

